<section class="section cards">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2 data-grape_id="travel-info_cards_title" data-grape_format="txt">{{ page.ElementContent('travel-info_cards_title',"Häufig gestellte Fragen zu Kuba") | raw }}</h2>
        </div>
    </div>

    {% for card_id in 1..5 %}
        {{ include('frontend/components/travel-info/_card.html.twig') }}
    {% endfor %}
</section>