<div class="travel-info__card">
    <div class="travel-info__card__image">
        {% if not is_granted('ROLE_EDITOR') or app.request.get('preview') is not null %}
            {{ imgTagContent(
                page.ElementAttr('card_image'~card_id, 'src', asset('img/header_pic.jpg')),
                page.ElementAttr('card_image'~card_id, 'srcb64', asset('img/header_pic.jpg')),
                '',
                '100vw',
                'data-grape_id="card_image'~card_id~'"') | raw }}
        {% else %}
            <img data-grape_id="card_image{{ card_id }}"
                 src="{{ page.ElementAttr('card_image'~card_id, 'src', asset('img/header_pic.jpg')) }}"
                 alt="">
        {% endif %}
    </div>
    <div class="travel-info__card__title">
        <h2>sometititle</h2>
    </div>
    <div class="travel-info__card__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid beatae est excepturi illum impedit inventore ipsum molestiae necessitatibus, quam quis tenetur ut? Autem ea hic itaque tenetur ut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at beatae, error esse ex excepturi fugit illum iste itaque labore, libero minus pariatur perferendis, reiciendis sapiente sed sequi tempore voluptatum.</p>
    </div>
</div>