.description{
    width: 75%;
    margin: auto;
    position: relative;


    &__text{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &__content{
            width: 100%;
        }

        &__times{
            display: flex;
            width: 100%;
            margin: auto;
            position: relative;
            justify-content: center;
            text-align: center;

            &__init{
                width: 20%;
            }

            &__duration{
                width: 20%;
            }

            &__finish{
                width: 20%;
            }

            &__comments{
                width: 40%;
            }

        }

        &__included-details{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            &__included, &__not-included{
                width: 47%;
            }
        }

    }
}
