.description-text-map {
    width: 90%;
    margin: auto;
    position: relative;

    @include atLarge{
        width: 75%;
    }

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text{
            width: 75%;
        }

        &__map{
            width: 25%;
            margin: auto;
            position: relative;
            overflow: hidden;

            #map {
                height: 75vh;
            }
        }
    }
}

