.float_button__container{
    position: relative;
}


.float_button{
    position: absolute;
    height: 100%;
    left: 4em;
    top: 5em;

    &__button {
        position: sticky;
        top: 5em;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        padding: .5em;
        background: linear-gradient(45deg, $light-green, $dark-green);
        z-index: 2;
        color: white;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform .3s ease-in-out;
        box-shadow: 2px 2px 8px rgba(black, .25);

        &:hover{
            transform: scale(1.3);
        }

        &--disable{
            background: linear-gradient(45deg, rgba($grey, .6), rgba($grey, .9));

            &:hover{
                transform: scale(1);
            }
        }
    }
}
