.gallery{
    position: relative;
    height: 70vh;
    width: 100%;
    overflow: hidden;

    @include atLarge{
        height: 85vh;
    }

    &__item{
        position: absolute;
        top: 0;
        transition: transform .3s ease-in-out;
        height: 100%;
        width: 100%;

        &:first-child{
            position: relative;
        }

        &__image {
            width: 100%;
            height: 100%;
        }

        &__title {
            position: absolute;
            bottom: 0;
            margin: 1em;
            text-align: center;

            @include atLarge{
                margin: 1.25em;
            }

            & h2{
                color: white;
                font-size: 2em;
            }
        }
    }

    &__arrow{
        position: absolute;
        width: 2em;
        height: 2em;
        top: 50%;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("/static/img/svg/arrow.svg");

        &--prev{
            left: .5em;
            right: auto;
            transform: translateY(-50%) rotate(180deg);

            @include atLarge{
                left: 2em;
            }
        }

        &--next{
            right: .5em;
            left: auto;
            transform: translateY(-50%) rotate(0deg);

            @include atLarge{
                right: 2em;
            }
        }
    }

}