body {
    --color-text: #000;
    --color-bg: #fff;
    --color-link: #000;
    --color-link-hover: #858585;
    --color-header: #858585;
    --color-nav-bg: #fff;
    --color-nav-hover: #858585;
    --color-cart-bg: #000;
    --color-cart: #fff;
    --color-close-bg: #6a6a6a;
    --color-close: #fff;
    --color-details-hover: #858585;
}

/* Icons */

.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}


.slideshow {
    position: relative;
    width: 100%;
    margin-top: 1rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.4s;
    }
}


.slideshow--details::after {
    opacity: 1;
}

.slide {
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
    position: absolute;
    overflow-x: hidden;
    pointer-events: none;
    opacity: 0;

    &--current {
        opacity: 1;
        z-index: 1;
        pointer-events: auto;
        position: relative;
    }

    &__wrap {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: white;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        pointer-events: none;
    }

    &__title-wrap {
        position: absolute;
        width: 50%;
        top: 50%;
        transform: translateY(-50%);

        left: 4em;
        color: white;
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        line-height: 0.9;
        white-space: pre;

        & span {
            display: inline-block;
        }
    }

    &__subtitle {
        font-size: 1.15rem;
        font-weight: normal;
    }
}


.boxnav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 2;
    width: 100%;
    background-color: white;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: 0;
        height: 4rem;
        flex: 1;
    }
}


.boxnav__item--prev:hover,
.boxnav__item--next:hover {
    color: var(--color-nav-hover);
}

.boxnav__item:focus {
    outline: none;
}

.boxnav__label {
    padding: 0 0.5rem;
    font-size: 1.15rem;
    position: relative;
}

.boxnav__label--total::before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    width: 2px;
    height: 1.45rem;
    background: #000;
    transform: rotate(22.5deg);
}

.icon--caret-rot {
    transform: rotate(180deg);
}

.category {
    font-weight: normal;
}



.action--addtocart {
    background: var(--color-cart-bg);
    color: var(--color-cart);
}

.action--close {
    background: var(--color-close-bg);
    color: var(--color-close);
    text-transform: lowercase;
}



@media screen and (min-width: 53em) {

    .slideshow {
        overflow: hidden;
        margin: 0;
        height: 85%;
    }

    .slide {
        height: 100%;

        &__title {
            font-size: 2em;

            &__title-wrap {
                padding: calc(6rem + 10vh) 0 0 4rem;
                text-align: left;
            }
        }

        &__wrap {
            height: 100%;
            position: absolute;
        }

        &__img {
            background-position: 50% 0;
        }
    }


    .boxnav {
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }
    .boxnav__item {
        width: 5em;
        height: 4em;
        flex: none;
    }

}
