.description-include{

    &__included-details{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__included, &__not-included{
            width: 47%;
        }
    }

}