.description-include{

    &__included-details{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__included, &__not-included{
            width: 100%;

            @include atLarge{
                width: 47%;
            }
        }

        &__not-included{
            & ul{
                & li{
                    &::marker {
                        color: $light-red;
                    }
                }
            }
        }

        &__included{
            & ul{
                & li{
                    &::marker {
                        color: $light-green;
                    }
                }
            }
        }
    }

}