.description-itinerary{
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    &__content{

        span[data-map], span[data-path-map]{
            position: absolute;
            visibility: hidden;
            height: 0;
            width: 0;
        }

        & ul{
            width: 100%;
        }
    }
}