.description-map{
    width: 80%;
    margin: auto;
    position: relative;

    &__content{
        position: relative;
        overflow: hidden;

        #map {
            height: 75vh;
        }
    }
}
