.float__container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

    width: 95%;
    margin: auto;

    &__float{
        order: 1;
        position: relative;
        width: 100%;

        @include atLarge{
            order: 2;
            position: sticky;
            top: 2.5em;
            width: 28%;
        }
    }

    &__center{
        order: 2;
        width: 100%;
        margin: auto;

        @include atLarge{
            order: 1;
            width: 60%;
        }
    }
}