.description-timetable{
    width: 75%;
    margin: auto;
    position: relative;

    &__content{
        width: 100%;

        & table{
            width: 100%;
            border-radius: 2px;

             & thead, & tr:first-child{
                font-weight: bold;
                text-transform: uppercase;
                background: linear-gradient(45deg, $light-green, $dark-green);
                color: white;
            }

            & thead + tbody tr:first-child{
                font-weight: normal;
                text-transform: none;
                background: none;
                color: $grey;
            }
        }

    }
}