<div class="bucket_list__item">
    <div class="bucket_list__item__title">

    </div>
    <div class="bucket_list__item__content">
        <div class="bucket_list__item__content__image">

        </div>
        <div class="bucket_list__item__content__text">

        </div>
        <div class="bucket_list__item__content__map">

        </div>
    </div>
</div>