<section class="section bucket-list__intro">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2 data-grape_id="bucket_list_title" data-grape_format="txt">
                {{ page.ElementContent('bucket_list_title',"Unsere Geheimtipps für Kuba") | raw }}</h2>
        </div>
    </div>

    <div class="bucket-list__intro__content">
        <p data-grape_id="bucket_list_introduction">
            {{ page.ElementContent('bucket_list_introduction',"Was sollte man in Kuba unbedingt gesehen oder erlebt haben? Wo findet man das authentische Kuba?
            Unsere persönliche «Bucket-Liste» umfasst 15 Orte und Erlebnisse auf der ganzen Insel, die unsere Mitarbeitenden persönlich getestet haben und weiterempfehlen. Einige dieser besonderen Erlebnisse bieten wir übrigens auch im Rahmen unserer Tagestouren an.") | raw }}
        </p>
    </div>

</section>