<section class="section bucket-list__items">

    <div class="bucket-list__items__map">
        <div id="map"></div>
    </div>
    <div class="bucket-list__items__features" id='features'>
        {% for content in contents %}

            {{ content.title | raw}}
            <span data-map="{{ content.map }}"></span>
            {{ content.content | raw }}
            {{ content.content | raw }}

        {% endfor %}
    </div>

</section>