<section class="section bucket-list__items">

    <div class="bucket-list__items__map">
        <div id="map"></div>
    </div>
    <div class="bucket-list__items__features" id='features' data-grape_id="bucket-list__items__features">


        {% for fragment in page.descriptionFragments %}
            <h3>{{ fragment.name }}</h3>

            {{ fragment.content | raw }}
        {% endfor %}

    </div>

</section>