{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="grid-auto text-center">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>

{% endblock fos_user_content %}
