.team{
  display: flex;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;

  @include atLarge{
    width: 80%;
  }

  &__image{
    width: 100%;

    @include atLarge{
      width: 40%;
    }
  }

  &__content{
    width: 100%;

    @include atLarge {
      width: 55%;
    }
  }

}