<section class="section banner_sky">

    <div class="banner_sky__image">
        <img src="{{ asset('img/banner/sky.png') }}" alt="">
    </div>

    <div class="banner_sky__content">
        <div class="banner_sky__content__titles">
            <h2>
                Take a step toward your travel to Cuba
            </h2>
            <h3>
                Take a step toward
            </h3>
        </div>

        <a class="btn" href="#">Talk to an Expert!</a>
    </div>

</section>