{% if not is_granted('ROLE_EDITOR') or app.request.get('preview') %}
    <div class="overlay-loading">

        <div class="overlay-loading__wrapper">
            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
    </div>
{% endif %}