<section class="section overview"  id="overview" tabindex="-1">

    <div class="overview__item">
        <div class="overview__item__text">

            <div class="section__title">
                <div class="section__title__highlight section__title__highlight--no-decorator">
                    <h2>{{ region.title }}</h2>
                </div>
            </div>

            <div data-grape_id="overview_text">
                {{ region.description | raw }}
            </div>
       </div>
    </div>



        {% for image in region.gallery %}
            <div class="overview__item">
                {{ imgTag(image,'(min-width: 1200px) 25vw, 100vw') | raw }}
            </div>
        {% endfor %}

</section>