<section class="section overview"  id="overview" tabindex="-1">

    <div class="overview__item">
        <div class="overview__item__text">

            <div class="section__title">
                <div class="section__title__highlight section__title__highlight--no-decorator">
                    <h2>Vielfältiges Kuba</h2>
                </div>
            </div>

            <div data-grape_id="overview_text">
                <p>
                    Traumhafte Strände, unberührte Natur, geschichtsträchtige Städte – all das finden Sie auf Kuba. Erleben Sie ein weltweit einzigartiges Reiseziel. Lassen Sie sich verzaubern vom Land der Salsa-Musik, der Zigarren und der puren Lebensfreude!
                </p>
            </div>
       </div>
    </div>

    {% if is_granted('ROLE_EDITOR') and app.request.get('preview') is null %}
        {% for i in 1..3 %}
            <div class="overview__item">
                <img data-grape_id="index_overview_img{{ i }}"
                class="overview_grid_item_img"
                src="{{ page.ElementAttr('index_overview_img'~i, 'src', asset('img/DSC_4137.jpg') ) | raw }}" alt="">
            </div>
        {% endfor %}
    {% else %}
        {% for i in 1..3 %}
            <div class="overview__item">
                {{ imgTagContent(
                    page.ElementAttr('index_overview_img'~i, 'src', asset('img/DSC_4137.jpg')),
                    page.ElementAttr('index_overview_img'~i, 'srcb64', asset('img/DSC_4137.jpg')),
                    '',
                    '(min-width: 1200px) 25vw, 100vw',
                    'data-grape_id="index_overview_img'~i~'"') | raw }}
            </div>
        {% endfor %}
    {% endif %}

</section>