<<<<<<< HEAD
<section class="section we-think ">
    <div class="row no-lat-margins">

        <div class="grid-auto we-think_img no-lat-margins text-center float-center">
            <img src="{{ asset('img/Cuba-01_SD.jpg') }}">
            <div class="grid-half float-center clients-think_img_quote">
                <h2>"brathtaking"</h2>
                <blockquote>While putting custom properties on the :root is great for things that you need to be available throughout your site
                    <cite>- Joseph Laurent</cite>
                </blockquote>
            </div>
        </div>
        <div class="grid-fifth we-think_text  text-center">
            <h2>What our clients think about us?</h2>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site, there are times when it makes more sense to scope your custom properties locally.</p>
        </div>

    </div>
</section>
=======
<section class="section we-think ">
    <div class="row no-lat-margins">

        <div class="grid-auto we-think_img no-lat-margins text-center float-center">
            <img src="{{ asset('img/Cuba-01_SD.jpg') }}">
            <div class="grid-half float-center clients-think_img_quote">
                <h2>"brathtaking"</h2>
                <blockquote>While putting custom properties on the :root is great for things that you need to be available throughout your site
                    <cite>- Joseph Laurent</cite>
                </blockquote>
            </div>
        </div>
        <div class="grid-fifth we-think_text  text-center">
            <h2>What our clients think about us?</h2>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site, there are times when it makes more sense to scope your custom properties locally.</p>
        </div>

    </div>
</section>
>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
