<section class="section who_we_are">

    <div class="who_we_are__image">
        <img src="{{ asset('img/whoweare.jpg') }}">
    </div>

    <div class="who_we_are__text">

        <div class="section__title">
            <div class="section__title__highlight section__title__highlight--no-decorator">
                <h2>Who we are!</h2>
            </div>
        </div>

        <p>While putting custom properties on the :root is great for things that you need to be available throughout your site, there are times when it makes more sense to scope your custom properties locally.</p>
    </div>
</section>