<section class="section who_we_are">

    <div class="who_we_are__image">

        {{ imgTag(region.image,'(min-width: 1200px) 75vw, 100vw') | raw }}


    </div>

    <div class="who_we_are__text">

        <div class="section__title">
            <div class="section__title__highlight section__title__highlight--no-decorator">
                <h2>{{ region.title}}</h2>
            </div>
        </div>

        <div data-grape_id="who_we_are__text">
            {{ region.description | raw }}
        </div>
    </div>

</section>