<section class="section why_with_us" style="background-image: url('{{ asset('img/Textura.png') }}');">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2>
                {{ region.title}}
            </h2>
        </div>
    </div>

    <div class="why_with_us__reasons">
        {% set items = region.description | striptags | split('\r\n\r\n') %}

        {% for i in 0..3 %}
            <div class="why_with_us__reasons__reason">
                <h5 >{{ items[i] | raw }}</h5>
                <p>{{ items[i+1] | raw }}</p>
            </div>
        {% endfor %}

    </div>
</section>