<section class="section why_with_us" style="background-image: url('{{ asset('img/Textura.png') }}');">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2>Why with us?</h2>
        </div>
    </div>

    <div class="why_with_us__reasons">

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>

        <div class="why_with_us__reasons__reason">
            <h5>Title of reason</h5>
            <p>While putting custom properties on the :root is great for things that you need to be available throughout your site</p>
        </div>
    </div>

</section>