nav.breadcrumb{
    position: relative;
    width: 95%;
    margin: 1em auto;
    display: flex;
    align-items: center;

    @include atLarge{
        width: 75%;
        margin: 1em auto 0 auto;
    }

    & ul{
        list-style: none;
        margin: 0;

        & li{
            display: inline;
            margin-right: 1em;
            font-family: "Baloo Bhaina", cursive;

            &::after{
                content: '\\';
                position: absolute;
                margin: .2em 0 0 .2em;
            }

            &:last-child::after{
                display: none;
            }

            & a{
                text-decoration: underline;
            }

        }
    }
}