.cart_bar{
    position: fixed;
    bottom: 2em;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    right: 0;
    margin: auto;
    z-index: 5;
    padding: 1em 0;
    background: linear-gradient(45deg, rgba($light-blue, .9), rgba($dark-blue, .9));
    color: white;
    border: 2px solid rgba(white, .9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    transform: translateX(80%);
    transition: transform .3s ease-in-out;

    &__title{
        transform: rotate(-90deg);
        margin: 1em .5em;
        text-align: center;
        border-bottom: 1px solid white;

        & h4{
            margin: 0;
            padding: 0;
        }
    }

    &__content{
        padding: 1em;
        width: 100%;

        &__text{
            text-align: center;
            width: 100%;
            margin: .5em 0;
            color: white;

            & p{
                margin: 0;
            }
        }

        &__button{
            width: 100%;
            display: flex;
            justify-content: space-around;

            & a{
                margin: 0 .25em;
            }

        }
    }

    &:hover{
        transform: translateY(0);
    }

    & [data-show='empty']{
        visibility: hidden;
        position: relative;
        height: 0;
        width: 0;
    }

    &--initial{
        & [data-show='no-empty']{
            visibility: hidden;
            position: relative;
            height: 0;
            width: 0;
        }

        & [data-show='empty']{
            visibility: visible;
            height: auto;
            width: auto;
        }
    }

}

