@keyframes showBar {
    0%{
        transform: translateX(75%);
    }
    40%{
        transform: translateX(0%);
    }
    60%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(75%);
    }
}

.cart_bar{
    position: fixed;
    bottom: 2em;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    right: 0;
    margin: auto;
    z-index: 2;
    padding: .25em;
    background: linear-gradient(45deg, rgba($light-blue, .95), rgba($dark-blue, .95));
    color: white;
    border: 2px solid rgba(white, .9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(75%);
    transition: transform .3s ease-in-out;

    &:hover{
        transform: translateX(0);
    }

    &--visible{
        animation: showBar 3.5s ease-in-out 1;
    }

    &__title{
        transform: rotate(-90deg);
        margin: 1em .5em;
        text-align: center;
        border-bottom: 1px solid white;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__icon{
            width: 2em;
            height: 2em;
        }

        & h4{
            margin-top: .5em;
            padding: 0;
        }
    }

    &__content{
        padding: 1em;
        width: 100%;

        &__text{
            text-align: center;
            width: 100%;
            margin: .5em 0;
            color: white;

            & p{
                margin: 0;
            }
        }

        &__button{
            width: 100%;
            display: flex;
            justify-content: space-around;

            & a{
                margin: 0 .25em;
                color: white;
            }
        }
    }

    & [data-show='empty']{
        visibility: hidden;
        position: relative;
        height: 0;
        width: 0;
        z-index: -1;
    }

    &--initial{
        & [data-show='no-empty']{
            visibility: hidden;
            position: relative;
            height: 0;
            width: 0;
            z-index: -1;
        }

        & [data-show='empty']{
            visibility: visible;
            height: auto;
            width: auto;
            z-index: auto;
        }
    }

}

