.form{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include atLarge{
        width: 80%;
    }

    &__item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__label{
            width: 100%;
            margin: 0 1em;
            padding: .5em 0;
            justify-content: center;
            display: flex;

            @include atLarge{
                width: 30%;
                margin: 0 2em;
                justify-content: left;
            }
        }

        &__input{
            width: 90%;


            @include atLarge{
                width: 40%;
            }
        }
    }
}
