.form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__label{
            width: 30%;
            margin: 0 2em;
            padding: .5em 0;
            text-align: right;
        }

        &__input{
            width: 40%;
        }
    }
}
