.icon {
    display: block;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.heart{

    & #heart_border{
        fill: white;
    }

    & #heart_inside{
        fill: transparent;
    }

    &--fill{

        &-green {
            & #heart_inside {
                fill: $dark-green;
            }
        }

        &-white{
            & #heart_inside {
                fill: white;
            }
        }
    }

    &--inverse{
        & #heart_border{
            fill: $light-green;
        }

        &.heart--fill-white{

            & #heart_inside {
                fill: $light-green;
            }
        }
    }
}

.arrow{
    cursor: pointer;
    transform: rotate(0);
    transition: transform .3s ease-in-out;
}
