.icon {
    display: block;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;

    & symbol {
        display: block;
    }

    & path {
        fill: white;
        stroke: transparent;
    }


    &-heart{
        & path {
            fill: transparent;
            stroke: white;
            stroke-width: 0;
        }

        &--green{
            & path {
                fill: white;
                stroke: $light-green;
                stroke-width: 0;
            }

        }

        &--fill-green{
            transform: scale(1.1);
            & path {
                fill: $light-green;
                stroke: white;
                stroke-width: 0;
            }
        }
    }

    &-arrow{
        & path {
            fill: rgba($grey, .8);
            stroke: rgba($grey, .8);
            transition: all .3s ease-in-out;
        }

        &:hover{
            & path {
                fill: $grey;
                stroke: $grey;
            }
        }

        &--rot{
            transform: rotate(180deg);
        }
    }
}