.section{
    width: 100%;
    position: relative;
    background-color: white;

    &__title{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &__highlight {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            flex-wrap: wrap;

            &--padding-top {
                    padding-top: 2em;
            }

            @include atLarge{
                flex-wrap: nowrap;
            }

            & h2{
                font-size: 2.5em;
                margin: 0 0 .25em;
                padding: 0 1em;

                @include atLarge{
                    margin: 0 0 1em;;
                }
            }

            &::before, &::after {
                content: '';
                position: relative;
                height: 4px;
                border-radius: 2px;
                width: 70%;
                margin: 0 .5em;

                @include atLarge{
                    width: 8em;
                }
            }

            &:before {
                background: linear-gradient(45deg, $light-blue, $dark-blue);
                display: none;
                
                @include atLarge{
                    display: block;
                }
            }

            &::after {
                background: linear-gradient(-45deg, $light-blue, $dark-blue);

            }



            & p {
                width: 50%;
            }

            &--orange {

                &:before {
                    background: linear-gradient(45deg, $light-orange, $dark-orange);
                }
                &::after {
                    background: linear-gradient(-45deg, $light-orange, $dark-orange);
                }

            }

            &--green {

                &:before {
                    background: linear-gradient(45deg, $light-green, $dark-green);
                }
                &::after {
                    background: linear-gradient(-45deg, $light-green, $dark-green);
                }

            }

            &--no-decorator::before,
            &--no-decorator::after{
                display: none;
            }
        }

        &__description{
            position: relative;
            top: 1em;
            width: 95%;
            text-align: center;
            margin:  0 auto;

            @include atLarge{
                top: -2em;
                width: 50%;
            }
        }
    }

    &.related_content_lists{
         position: relative;
         max-width: 100vw;
         //max-height: 20em;
         overflow-y: hidden;

        & > .feature_list{
            line-height: 0;
            column-gap: 3em;
            position: relative;
            max-height: 20em;

            --related-feature-content-width: 45vw;
             @include atLarge{
                 --related-feature-content-width: 23vw;
                 min-height: calc(var(--related-feature-content-width) *1.2) !important;
            }
        }
        & > .feature_list > .feature{
            width: 250px !important;
            max-width: 45vw;


            & .activity__image{
                height: calc(var(--related-feature-content-width) * 0.9 );
            }
            //max-height: 20em;

            @include atLarge{
                width: --related-feature-content-width !important;
            }

    }
     }
}