.section{
    width: 100%;
    position: relative;
    background-color: white;

    &__title{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &__highlight {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            flex-wrap: wrap;

            @include atLarge{
                flex-wrap: nowrap;
            }

            & h2{
                font-size: 2.5em;
                margin: 0 0 .25em;

                @include atLarge{
                    margin: 0 0 1em;;
                }
            }

            &::before, &::after {
                content: '';
                position: relative;
                height: 4px;
                border-radius: 2px;
                width: 70%;
                margin: 0 .5em;

                @include atLarge{
                    width: 8em;
                }
            }

            &:before {
                background: linear-gradient(45deg, $light-blue, $dark-blue);
                display: none;
                
                @include atLarge{
                    display: block;
                }
            }

            &::after {
                background: linear-gradient(-45deg, $light-blue, $dark-blue);

            }



            & p {
                width: 50%;
            }

            &--orange {

                &:before {
                    background: linear-gradient(45deg, $light-orange, $dark-orange);
                }
                &::after {
                    background: linear-gradient(-45deg, $light-orange, $dark-orange);
                }

            }

            &--green {

                &:before {
                    background: linear-gradient(45deg, $light-green, $dark-green);
                }
                &::after {
                    background: linear-gradient(-45deg, $light-green, $dark-green);
                }

            }

            &--no-decorator::before,
            &--no-decorator::after{
                display: none;
            }
        }

        &__description{
            position: relative;
            top: 1em;
            width: 50%;
            text-align: center;

            @include atLarge{
                top: -2em;
            }
        }
    }

}