.top_destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__places{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include atLarge{
            width: 90%;
        }

        &__place{
            width: 100%;
            margin: 1.5em 0;
            max-height: 75vh;
            position: relative;

            @include atLarge{
                margin: 3em 0;
                width: 48%;
            }

            @include atXLarge{
                margin: 3em 0;
                width: 23%;
            }

            &:hover img{
                transform: scale(1.1);
                filter: url("#deformation");
            }

            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                left: -10px;
                top: -10px;
                background: linear-gradient(45deg, $light-blue, $dark-blue 20%, transparent);

                @include atLarge{
                    left: -15px;
                    top: -15px;
                }
            }

            &--orange::before{
                background: linear-gradient(45deg, $light-orange, $dark-orange 20%, transparent);
            }

            &--green::before{
                background: linear-gradient(45deg, $light-green, $dark-green 20%, transparent);
            }

            &__image {
                overflow: hidden;
                position: relative;
                height: 100%;

                @include atXLarge {
                    min-height: 60vh;
                }

                & > div{
                    width: 100%;
                    height: 100%;
                }

                & img {
                    transition: transform .3s ease-in-out;
                    height: 100%;

                    @include atXLarge {
                        width: auto;
                    }
                }

            }

            &__text {
                position: absolute;
                bottom: 0;
                width: 90%;
                margin: 0 5%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                z-index: 2;
                text-shadow: 3px 3px 10px rgba(black, .5);

                @include atLarge{
                    bottom: 1em;
                }

                & span {
                    display: block;
                    color: white;
                    font-family: $font-titles;
                    font-size: 2em;
                }

                & p {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}
