{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
<div class="activities_index">
    <div class="activities_title">
        <h3>All the activities ⛳</h3>
    </div>
    <div class="new_btn">
        <a href="{{ path('backend_activity_new') }}" class="button button-primary button-shadow button-block">Create new</a>
    </div>


<div class="activities__list__container">
            {% for activity in activities %}
            

             <div class="activity_wrap">
                {% include 'frontend/components/global/_activity.html.twig'
                    with {'activity':activity} only %}
                <div class="activity__content__description__buttons">
                    <a href="{{ path('backend_activity_edit', {'id': activity.id}) }}" class="btn1 button button-primary button-shadow button-block">Edit</a>
                    
                    <a target="_blank" href="{{ path('activity', { 'id':activity.id, 'name':activity.machineName} ) }}?preview=true" class="btn2 button button-secondary button-shadow button-block">Preview</a>
                    
                    <a href="{{ path('activity', { 'id':activity.id, 'name':activity.machineName} ) }}" class="btn3 button button-secondary button-shadow button-block">View and edit</a>
                    
                </div>
            </div>
            {% else %}
                <p>nothing to show</p>
            {% endfor %}
            
</div>

</div>


    
{% endblock %}