.activities_index {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25vh auto;
  grid-column-gap: 0px;
  grid-row-gap: 0em; }

.activities__list__container {
  grid-area: 3 / 1 / 2 / 3;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5px; }

.secundary_btns {
  grid-area: 4 / 2 / 6 / 5; }

.new_btn {
  grid-area: 1 / 4 / 2 / 5; }

.activities_title {
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 2em; }

.activities_title h3 {
    margin: 0; }

.activity__content__actions {
  display: none; }

.activity__image {
  height: 200px; }

.activity__image img, .activity__image a {
    margin: 0; }

.activity__content__title a {
  margin: 0; }

.activity__content__description p {
  margin-bottom: 0; }

.activity__content__description__buttons {
  display: grid;
  overflow: hidden;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.activity__content__description__buttons .btn1 {
    grid-area: 1 / 1 / 2 / 3; }

.activity__content__description__buttons .btn2 {
    grid-area: 2 / 1 / 3 / 2; }

.activity__content__description__buttons .btn3 {
    grid-area: 2 / 2 / 3 / 3; }
