.bucket-list__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    &__map {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
        margin: 1.5em 0;

        &:after{
            content: '';
            position: absolute;
            width: 105%;
            transform: translate(-2.5%, -50%);
            height: 3em;
            background: linear-gradient(to bottom, white, rgba(white, .75));
            filter: blur(8px);
            z-index: -1;
        }

        @include atLarge{
            width: 50%;
            top: 5vh;
        }

        & #map{
            margin: auto;
            min-height: 40vh;

            @include atLarge {
                min-height: 90vh;
            }
        }
    }

    &__features {
        width: 100%;
        margin-left: 1em;
        padding-top: 3em;

        @include atLarge{
            width: 40%;
        }

        & h3 {
            position: relative;
            transition: transform .3s ease-in-out;

            &:after {
                content: '';
                position: absolute;
                background: linear-gradient(45deg, rgba($dark-orange, .25), rgba($light-orange, .25));
                height: 2px;
                border-radius: 2px;
                width: 100%;
                bottom: -.25em;
                left: 0;
            }

            &.active{
                transform: scale(1.1);

                &:after {
                    background: linear-gradient(45deg, $dark-orange, $light-orange);
                }
            }
        }

        span[data-map]{
            position: absolute;
            visibility: hidden;
            height: 0;
            width: 0;
        }

        & p{
            width: 100%;
        }

        &.active {
            transform: scale(1.15)
        }

        &:last-child {
                    border-bottom: none;
                    margin-bottom: 200px;
                }

    }

}