.selected-activities{
    width: 120%;
    left: -10%;
    position: relative;

    &__title{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.travel-interest{
    margin: 2em 0;
    width: 100%;
    position: relative;

    &__title{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__options{
        display: grid;
        grid-template-areas: "img1 img2 img3"
                             "img4 img5 img6"
                             "img7 img8 img9";

        grid-template-rows: 40vh 40vh 40vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .25em;

    }
}
