.interest{
    height: 100%;
    width: 100%;
    overflow: hidden;

    & label {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: transparent;
            transition: all .3s ease-in-out;
        }

        & .icon--heart {
            width: 2em;
            height: 2em;
            transform: scale(1);
            transition: transform .3s ease-in-out;

            & path {
                stroke: white;
                stroke-width: 15px;
                fill: transparent;
                transition: fill .3s ease-in-out;
            }
        }

        & img {
            width: 100%;
            min-height: 100%;
            max-width: 100%;
            transform: scale(1);
            transition: transform .5s ease-in-out;

        }

        & > span{
            font-family: 'Baloo Bhaina';
            font-size: 1.1em;
            font-weight: 700;
            position: absolute;
            bottom: 1em;
            left: 0;
            width: 90%;
            margin: auto 5%;
            text-shadow: 2px 2px 8px rgba(black, .4);
            color: white;
            z-index: 1;
            text-align: center;
        }

    }

    & input[type='checkbox']{
        display: none;
    }

    &:hover{
        & label::after{
            background: linear-gradient(-45deg, rgba($light-blue, .8), rgba(black, .3), rgba($dark-blue, .8));
        }

        & img{
            transform: scale(1.1);
        }
    }

    &--checked{

        & label{

            & .icon--heart{
                width: 2em;
                height: 2em;
                transform: scale(1.2);

                path {
                    fill: $dark-orange;
                }
            }

            &::after{
                background: linear-gradient(-45deg, rgba($light-blue, .6), rgba(black, .3), rgba($dark-blue, .6));
            }
        }

        & img{
            transform: scale(1.1) !important;
        }


    }

}