.contact__personal{
    display: flex;
    justify-content: space-between;

    &__name_mail{
        width: 45%;
    }

    &__message{
        width: 45%;
    }

    & .form__item{
        &__label, &__input, &__textarea{
            width: 100%;
        }

        &__label{
            text-align: left;
            margin: 0;
        }
    }
}