.backend_index {

    @include atMedium {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        grid-template-rows: 20vh 10vh 10vh 10vh 10vh;

        grid-column-gap: 0px;

        grid-row-gap: 2em;
    }
}

.hello_user {
    @include atMedium {
        grid-area: 1 / 2 / 2 / 4;
    }
    text-align: center;}

.main_btns, .secundary_btns {
    @include atMedium {
        grid-area: 2 / 1 / 4 / 3;
    }
    & ul.list-inline{
        @include atMedium {
            display: inline-flex;
        }
        display: block !important;
         & li{
             margin: 5px auto;
         }

    }
}

.secundary_btns {
    @include atMedium {
        grid-area: 4 / 2 / 6 / 5;
    }
}