{% for day in activity.descriptionFragments %}

    <div class="day {% if loop.index == 1 %} day--active {% endif %}">
        <div class="day__title">
            <a href="#">
                <h3>{{ day.name }}</h3>
            </a>
        </div>
        <div class="day__content">
            {% if day.hasImage %}
                <div class="day__content__image">
                    {{ imgTag(day.image) | raw }}
                </div>
            {% endif %}
            <div class="day__content__description">

                <div class="day__content__description__content">
{#                    TODO:  expand text#}
                    {{ day.content | truncate_html(500) | raw }}
                </div>
            </div>
        </div>

    </div>

{% endfor %}