<section class="section description">


    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grapeid="contact_t1">{{ page.ElementContent('contact_t1',"Description") | raw }}</h2>
        </div>
    </div>

    <div class="description__text">

        <div class="description__text__content">
            <p>Lorem ipsum dolor sit amet,
                consectetur adipisicing elit.
                Aperiam, at dolores doloribus eveniet
                inventore maiores mollitia recusandae rerum sint
                voluptatibus! Animi debitis doloremque, neque sed
                tempore totam ullam voluptatum? Quo?</p>
        </div>

        <div class="description__text__included-details">
            <div class="description__text__included-details__included">

                <h3>What is included</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
            </div>
            <div class="description__text__included-details__not-included">
                <h3>What is <u>not</u> included</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
            </div>
        </div>

    </div>


</section>