<section class="section description-text">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2>{{ activity.name }}</h2>
        </div>
    </div>

    <div class="description-text__content">
        {{ activity.description }}
    </div>

</section>