<section class="section description">
    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--green">
            <h2 data-grapeid="contact_t1">{{ page.ElementContent('contact_t1',"Clients opinions") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grapeid="contact_p1">{{ page.ElementContent('contact_p1',"We have some many that is hard to choose") | raw }}</p>
        </div>
    </div>

</section>