{% if not is_granted('ROLE_EDITOR') or app.request.get('preview') is not null %}
    <div class="float_button">
        <div class="float_button__button">
            <img src="{{ asset('svg/like.svg') }}">
            <a href="#" data-activity_id="{{ activity.id }}"></a>
        </div>
    </div>
{% endif %}