<div class="float_button">
    <a href="#" data-href="{{ addLink }}">
        <div class="float_button__button">
            <svg class="icon icon--cart">
                <use xlink:href="#icon-cart"></use>
            </svg>
        </div>
    </a>
</div>