<section class="section">
    <div class="gallery">
        <div class="gallery__item">
            <div class="gallery__item__image">
                {{ imgTag(activity.image) | raw }}
            </div>
        </div>

        {% for image in activity.gallery %}
            <div class="gallery__item">
                <div class="gallery__item__image">
                    {{ imgTag(image) | raw }}
                </div>
            </div>
        {% endfor %}
    </div>
</section>