<section class="section description-include">
    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--green">
            <h2>Included in activity cost</h2>
        </div>
    </div>

    <div class="description-include__included-details">
        <div class="description-include__included-details__included">

            {#TODO#}
            {#<h3 data-grape_id="activity_included_title" data-grape_format="txt">#}
                {#{% if activity.getElement('activity_included_title') is null %}#}
                    {#Included in the tour#}
                {#{% else %}#}
                    {#{{ activity.getElement('activity_included_title') | raw }}#}
                {#{% endif %}#}
            {#</h3>#}

            <h3 >
                Included in the tour
            </h3>

            <div data-grape_id="activity_included_text">
                {% if activity.getElement('activity_included_text') is null %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
                {% else %}
                    {{ activity.getElement('activity_included_text') | raw }}
                {% endif %}
            </div>
        </div>

        <div class="description-include__included-details__not-included">

        {#<h3 data-grape_id="activity_not_included_title" data-grape_format="txt">#}
            {#{% if activity.getElement('activity_not_included_title') is null %}#}
                {#Not include in the tour#}
            {#{% else %}#}
                {#{{ activity.getElement('activity_not_included_title') | raw}}#}
            {#{% endif %}#}
        {#</h3>#}

        <h3>
            <u>Not</u> include in the tour
        </h3>

        <div data-grape_id="activity_not_included_text">
            {% if activity.getElement('activity_not_included_text') is null %}
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores cumque deserunt, distinctio est id impedit libero modi nobis perferendis possimus provident, quae qui, quis sint vel velit vitae.</p>
            {% else %}
                {{ activity.getElement('activity_not_included_text') | raw }}
            {% endif %}
        </div>
    </div>
    </div>
</section>