<section class="section description-itinerary">

    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--green">
            <h2>{{ activity.itineraryTitle }}</h2>
        </div>
    </div>

    <div class="description-itinerary__content">

            {{ include('frontend/components/activity/_days.html.twig') }}

{#            {{ activity.itineraryContent| raw }}#}
    </div>

</section>
