<section class="section description-itinerary">

    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--green">
            <h2>{{ activity.itineraryTitle }}</h2>
        </div>
    </div>

    <div class="description-itinerary__content">

{#        {% for day in activity.descriptionFragments %}#}
{#            {{ include('frontend/components/activity/_day.html.twig') }}#}
{#        {% endfor %}#}

        {{ activity.itineraryContent| raw }}
    </div>

</section>
