<section class="section description-itinerary">

    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--green">
            <h2>Itinerary summary</h2>
        </div>
    </div>

    <div class="description-itinerary__content" data-grape_id="itinerary">

        {% if activity.getElement('itinerary') is null %}
            {% for i in 1..3 %}
                <h3>Day {{ i }} – Saturday: <strong>Hello Cuba, bienvenido a La Habana</strong></h3>

                <ul>
                    {% for j in 1..3 %}
                        <li>
                            Interest point {{ i }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            {{ activity.getElement('itinerary') | raw }}
        {% endif %}

    </div>

</section>
