<section class="section description-itinerary">

    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>Itinerary summary</h2>
        </div>
    </div>

    <div class="description-itinerary__content" data-grape_id="itinerary__content">
        <h3>Day 1 – Saturday: <strong>Hello Cuba, bienvenido a La Habana</strong></h3>

        <ul>
            <li>
                Arrival at Havana's José Martí International Airport
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
        </ul>

        <h3>Day 2 – Saturday: <strong>Hello Cuba, bienvenido a La Habana</strong></h3>

        <ul>
            <li>
                Arrival at Havana's José Martí International Airport
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
        </ul>

        <h3>Day 5 – Saturday: <strong>Hello Cuba, bienvenido a La Habana</strong></h3>

        <ul>
            <li>
                Arrival at Havana's José Martí International Airport
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
            <li>
                Meet your tour guide and bus driver
            </li>
        </ul>
    </div>

</section>
