{% if related_activities | length > 0 %}
    <section class="section other_activities">
        <div class="section__title ">
            <div class="section__title__highlight section__title__highlight--green">
                <h2>{% trans %}activity.description.relatedActivities.title{% endtrans %}:</h2>
            </div>
        </div>

        {% for activity in related_activities %}
            {% include 'frontend/components/global/_activity.html.twig'
                with {'activity':activity} only %}
        {% endfor %}
    </section>
{% endif %}
