<section class="section other_activities">
    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grapeid="contact_t1">{{ page.ElementContent('contact_t1','You might like...') | raw }}</h2>
        </div>
    </div>


</section>