<section class="section description-timetable">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2>Costs & dates</h2>
        </div>
    </div>

    <div class="description-timetable__content" data-grape_id="timetable">
        {% if activity.getElement('timetable') is null %}
            <table >
                <thead>
                <tr>
                    <td><span>Init time</span></td>
                    <td><span>Duration</span></td>
                    <td><span>Finish time</span></td>
                    <td><span>Comments</span></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span>8:00 hours</span></td>
                    <td><span>3:15 hours</span></td>
                    <td><span>18:00 hours</span></td>
                    <td><span>bring little clothes</span></td>
                </tr>
                <tr>
                    <td><span>8:00 hours</span></td>
                    <td><span>3:15 hours</span></td>
                    <td><span>18:00 hours</span></td>
                    <td><span>bring little clothes</span></td>
                </tr>
                </tbody>
            </table>
        {% else %}
            {{ activity.getElement('timetable') | raw }}
        {% endif %}
    </div>

</section>
