{% extends 'base.html.twig' %}

{% block title %}FilterTag index{% endblock %}

{% block body %}
<div class="row tags_title">
    <div class="grid-three-fourths">
        <h3>Tags for filter content 🔖</h3>
    </div>
    <div class="grid-fourth">
        <a href="{{ path('backend_filter_tag_new') }}" class="button button-primary button-shadow button-block float-right">Create new</a>
    </div>
</div>
    

    <section class="section other_tags">
        <div class="section__title ">
            {% for filter_tag in filter_tags %}
                <div class="activity">

                    <div class="activity__content">
                        <div class="activity__content__title">
                           <h4>{{ filter_tag.title }}</h4>
                            {% if filter_tag.pinned %}
                                <small><i>(Pinned 📌)</i></small>
                            {% endif %}
                        </div>
                        <div class="activity__content__description">
                            <a href="{{ path('backend_filter_tag_edit', {'id': filter_tag.id}) }}" class="button-sm button button-secondary button-shadow button-block">edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

{% if  filter_tags| length > 6 %}
    <a href="{{ path('backend_filter_tag_new') }}" class="button button-primary button-shadow button-block">Create new</a>
{% endif %}
{% endblock %}
