{% extends 'base.html.twig' %}

{% block title %}New FilterTag{% endblock %}

{% block body %}
    <h1>Create new FilterTag</h1>

    {{ include('backend/filter_tag/_form.html.twig') }}

    <a href="{{ path('backend_filter_tag_index') }}" class="btn">back to list</a>
{% endblock %}
