@import "../base/config";
@import "../base/mixins.scss";

.admin_bar{
    position: static;
    background: linear-gradient(45deg, rgba($light-green, .7) 5%, $dark-green);
    border: solid 1px white;
    z-index: 5;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    display: flex;

    flex-direction: column;
    @include atMedium{
      flex-direction: row;
    }
    font-size: 16px;

  & ul{
    width: 100%;
    @include atLarge{
      width: auto;
    }
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 30%));
    grid-gap: 10px;

    @include atMedium{

      display: flex;

    }

    list-style: none;
    margin: .5em auto;

    & li{
        margin: 0 .5em;
        padding: 1px 5px;
        display: flex;
        align-items: center;

         & a{
             color: #fff;
             font-size: .85em;
         }

         &.preview{
             background: linear-gradient(45deg, rgba($light-blue, .7), rgba($dark-blue, .9));
             padding: .25em 1em;
         }
      }
  }


  /* The dropdown container */
  .dropdown {
    cursor: pointer;
    float: left;
    overflow: hidden;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 40px;
    z-index: 100;
    right: 1em;
    max-width: 20vw;
  }

  .dropdown span{
    color: white;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #revisions_description{
    margin-bottom: 0px;
    border-bottom: 1px
    #bbb solid;
    padding: 8px;
    font-size: .8em;
  }
}

[data-grape_id]:hover, [data-grape_id]:active, [data-grape_id]:focus{
  border: dashed #62ab03 4px;
  //border: dashed $color-green-light 3px;
  border-radius: 20px;
  transition: border ease .5s;
}
.header__menu-icon[data-gjs-type="default"] {

    display: none;

}
