.admin_bar{
  position: static;
  top: 0;
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,.8), #000);
  border: solid 2px #272727;
  z-index: 100;

  & ul{
    display: flex;
    list-style: none;
    margin-bottom: 5px;
  }
  & ul li{
    margin: auto
  }
  & a{
    color: #fff;
  }
}

[data-grape_id]:hover, [data-grape_id]:active, [data-grape_id]:focus{
  border: dashed #62ab03 4px;
  //border: dashed $color-green-light 3px;
  border-radius: 20px;
  transition: border ease .5s;
}
