@import "../base/config";

.admin_bar{
    position: static;
    background: linear-gradient(45deg, rgba($light-green, .7) 5%, $dark-green);
    border: solid 1px white;
    z-index: 5;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  & ul{
    display: flex;
    list-style: none;
    margin: .5em auto;

     & li{
          margin: 0 .75em;
          border: 1px solid white;
          border-radius: 3px;
          padding: 1px 5px;
         display: flex;
         align-items: center;

         & a{
             color: #fff;
         }

         &.preview{
             background: linear-gradient(45deg, rgba($light-blue, .7), rgba($dark-blue, .9));
             padding: .25em 1em;
         }
      }
  }
}

[data-grape_id]:hover, [data-grape_id]:active, [data-grape_id]:focus{
  border: dashed #62ab03 4px;
  //border: dashed $color-green-light 3px;
  border-radius: 20px;
  transition: border ease .5s;
}
