.hero-home{
    display: flex;
    background: grey;
    height: 100vh;

    & .slide-wrapper{
        order: 2;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 50%;
        right: 0;

        & .slide-item{
            width: 50%;
        }
    }
}

.editor__imagen_list {

    width: 80%;
    min-height: 600px;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid__item-img__editor{
    width: 100%;
    min-height: 30vh;
}

.top_destinations__places__place{
    &__image__editor, .grid__item-img__editor{
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 30vh;

        & img{
            z-index: 2;
            width: 45%;
            position: relative;
            min-width: 45%;
            max-width: 45%;
            min-height: 100%;
            margin: auto;

        }
    }

}

.options__grid_editor__list{
    & ul{
        list-style: none;

        & li{
            display: inline;
            margin: 20px;
        }
    }

}

.travel-interest {

    &__options {
        grid-template-rows: 60vh 60vh 60vh 60vh;
        grid-gap: .5em;
    }
}

.interest{

    & label {
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &::after {
            display: none;
        }

        &:hover{
            & img{
                transform: scale(1);
            }
        }

        & span {
            order: 1;
            top: 1em;
            margin: 2em 0;
            position: relative;
            width: 100%;
            color: grey;
            font-size: 1em;
            text-shadow: none;
        }

        & img {
            order: 2;
            width: 100%;
        }

    }

    & input{
        display: none;
    }
}

.admin_visible_list{
    &:before{
        content: "options:";
    }
    border: solid 1px;
    clip: inherit;
    height: auto;
    margin: auto;
    overflow: auto;
    padding: revert;
    position: relative;
    white-space: inherit;
    width: 85%;
    display: flex;
    & li{
        border: grey 1px solid;
        display: flex;
        margin: auto;
    }
}