{% extends 'base.html.twig' %}

{% block title %}Edit Story about Activity{% endblock %}

{% block body %}
    <h3>Editing Story <i><u>{{ activity_story.title }}</u></i></h3>

    {{ include('backend/activity_story/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('backend/activity_story/_delete_form.html.twig') }}
{% endblock %}
