.activities{

    &__selectors{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;

        &__filters{
            width: 45%;

            & h3{
              text-align: center;
            }

            & ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                & li{
                    display: inline-block;
                    width: 30%;
                    background: linear-gradient(45deg, rgba($light-blue, .95), rgba($dark-blue, .95));
                    border-radius: 5px;
                    border: 2px solid white;
                    padding: .2em .4em;
                    text-align: center;
                    margin: .5em 0;
                    position: relative;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    color: white;

                    &.selected{
                        border: 2px solid rgba($grey, .7);
                        &::after{
                            content: 'x';
                            position: absolute;
                            right: .5em;
                            width: 1em;
                            height: 1em;
                            color: rgba(white, .6);
                            font-weight: 700;
                        }
                    }
                }
            }

        }

        &__search{

            & h3{
                text-align: center;
            }

            width: 45%;

            & .form__item__input{
                width: 80%;
            }

        }
    }

    &__list {
        width: 90%;
        margin: auto;
        margin-bottom: 2em;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__title{
            width: 100%;
            text-align: center;
        }

    }
}