.activities{

    &__description{

        &__items{
            width: 80%;
            position: relative;
            margin: auto;

            & ul{
                list-style: none;
                display: flex;
                justify-content: space-around;

                & li{
                    display: inline-block;
                    margin: auto .1em;
                    font-weight: 500;
                    font-size: 1.1em;


                    & a {
                        position: relative;


                        &:after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(45deg, $light-blue, $dark-blue);
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        &__map{
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 1;
            margin: 1.5em 0;

            &:after{
                content: '';
                position: absolute;
                width: 105%;
                transform: translate(-2.5%, -50%);
                height: 3em;
                background: linear-gradient(to bottom, white, rgba(white, .75));
                filter: blur(8px);
                z-index: -1;
            }

            @include atLarge{
                width: 40%;
                top: 5vh;
            }

            & #map{
                margin: auto;
                min-height: 40vh;

                @include atLarge{
                    min-height: 90vh;
                }
            }
        }

        &__features {
            width: 95%;
            margin: auto;

            @include atLarge{
                width: 40%;
            }
        }

        &__skip{
            width: 10%;
            height: 100%;
            position: sticky;
            top: 4em;
            text-align: center;
        }
    }

    &__selectors{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include atLarge{
            width: 80%;
        }

        &__filters{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @include atLarge{
                width: 60%;
            }

            & h3{
              text-align: center;
            }

            & ul{
                width: 100%;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0;

                @include atLarge{
                    margin: 0 0 1.5625em 2em;
                }

                & li{
                    display: inline-block;
                    min-width: 16.666%;
                    background-image: linear-gradient(to right, rgba($light-green, .75), rgba($dark-green, .75));
                    background-size: 200%;
                    border-radius: 2px;
                    border: 2px solid white;
                    padding: .25em .75em;
                    text-align: center;
                    margin: .5em .5em 0 0;
                    position: relative;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    color: white;
                    box-shadow: 2px 2px 10px rgba(black, .25);

                    &.selected{
                        background-position: right center;
                        border: 2px solid $dark-green;
                    }
                }
            }

        }

        &__search{
            width: 100%;

            @include atLarge{
                width: 40%;
            }

            & h3{
                text-align: center;
            }

            & .form__item{
                display: flex;

                &__label{
                    margin: 0 .5em;
                    width: 20%;
                }

                &__input {
                    width: 70%;
                    position: relative;

                    & input[type="text"] {
                        margin: .5em;
                        padding: .25em .75em;
                        border: 2px solid rgba($light-green, 1);;
                        border-radius: 2px;
                        box-shadow: 2px 2px 5px rgba(black, .25);
                        transition: all .3s ease-in-out;
                        position: relative;

                        &:focus{
                            border: 2px solid rgba($light-green, .85);
                        }

                        &::after{
                            content: 'x';
                            position: absolute;
                            width: 2em;
                            height: 100%;
                            border-radius: 50%;
                            background-color: red;
                        }
                    }

                }
            }

        }
    }

    &__list {
        width: 95%;
        margin: auto;
        margin-bottom: 2em;

        @include atLarge{
            width: 90%;
        }

        &__title{
            width: 100%;
            text-align: center;
        }

        &__item-prototype{
            display: none;
        }

        &__container{

            &__initial, &__filter_search{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                transition: all .3s ease-in-out;

                & div.activity{
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }

                &--hide{
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                @keyframes spinning {
                    0%{
                        transform: translate(-50%, -50%) rotate(0);
                    }
                    50%{
                        transform: translate(-50%, -50%) rotate(180deg);
                    }
                    100%{
                        transform: translate(-50%, -50%) rotate(360deg);
                    }

                }
            }

            &--loading{

                & div.activity{
                    opacity: 0;
                }

                & div.loading_element{
                    opacity: 1;
                }
            }

            & .loading_element{
                height: 3em;
                width: 3em;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                position: absolute;
                background: radial-gradient(at 0, $light-blue 20%, $dark-blue);
                border: 1px white solid;
                animation: spinning 3.5s ease-in-out infinite;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
        }

        &__more{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}