.travel-info__card{
  width: 100%;
  box-shadow: 2px 2px 10px rgba(black, .25);
  margin: 1em auto;

  @include atLarge{
    width: 48%;
    margin: 2em auto;
  }

  &__image{

    & img{
      max-height: 40vh;
    }
  }

  &__title{
    text-align: center;
  }

  &__content{
    margin-top: .5em;
    padding: .25em;

    @include atLarge{
      padding: 1em;
    }
  }
}