.overview{
    display: flex;
    background: white;
    z-index: 1;
    padding-top: 2px;

    &__item{
        width: 25%;
        overflow: hidden;
        display: flex;
        align-items: center;
        max-height: 80vh;
        margin-left: 2px;

        &:hover img{
            transform: scale(1.1);
        }

        & img{
            position: relative;
            width: auto;
            height: 100%;
            transition: all .3s ease-in-out;
        }

        &__text{
            padding: 1em 1.5em;
        }

        &:first-child{
            flex-wrap: wrap;
            padding-left: 0;

            & .section__title {
                padding: 0 1.5em;
            }
        }
    }


}