.destinations_index .section__title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em 2em; }
  .destinations_index .section__title .activity {
    width: auto; }
  /**new activiy**/
  .container .new_activity.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8em 30% 30% 4em;
  grid-column-gap: 30px;
  grid-row-gap: 20px; }
  .container .new_activity.parent .form_title {
    grid-area: 1 / 1 / 2 / 3; }
  .container .new_activity.parent .label_field_name {
    grid-area: 2 / 1 / 3 / 3; }
  .container .new_activity.parent .label_field_images {
    grid-area: 2 / 3 / 3 / 5; }
  .container .new_activity.parent .field_name {
    grid-area: 3 / 1 / 4 / 3; }
  .container .new_activity.parent .field_images {
    grid-area: 3 / 3 / 4 / 5; }
  .container .new_activity.parent .btn_save {
    grid-area: 4 / 3 / 5 / 4; }
  .container .new_activity.parent .btn_back {
    grid-area: 4 / 4 / 5 / 5; }
