.hero-home {
  display: -webkit-box;
  display: flex;
  background: grey;
  height: 100vh; }
  .hero-home .slide-wrapper {
    -webkit-box-ordinal-group: 3;
            order: 2;
    display: -webkit-box !important;
    display: flex !important;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 50%;
    right: 0; }
  .hero-home .slide-wrapper .slide-item {
      width: 50%; }
  .editor__imagen_list {
  width: 80%;
  min-height: 600px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }
  .grid__item-img__editor {
  width: 100%;
  min-height: 30vh; }
  .top_destinations__places__place__image__editor, .top_destinations__places__place .grid__item-img__editor {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 30vh; }
  .top_destinations__places__place__image__editor img, .top_destinations__places__place .grid__item-img__editor img {
    z-index: 2;
    width: 45%;
    position: relative;
    min-width: 45%;
    max-width: 45%;
    min-height: 100%;
    margin: auto; }
  .options__grid_editor__list ul {
  list-style: none; }
  .options__grid_editor__list ul li {
    display: inline;
    margin: 20px; }
  .travel-interest__options {
  grid-template-rows: 60vh 60vh 60vh 60vh;
  grid-gap: .5em; }
  .interest label {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }
  .interest label::after {
    display: none; }
  .interest label:hover img {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .interest label span {
    -webkit-box-ordinal-group: 2;
            order: 1;
    top: 1em;
    margin: 2em 0;
    position: relative;
    width: 100%;
    color: grey;
    font-size: 1em;
    text-shadow: none; }
  .interest label img {
    -webkit-box-ordinal-group: 3;
            order: 2;
    width: 100%; }
  .interest input {
  display: none; }
  .admin_visible_list {
  border: solid 1px;
  clip: inherit;
  height: auto;
  margin: auto;
  overflow: auto;
  padding: revert;
  position: relative;
  white-space: inherit;
  width: 85%;
  display: -webkit-box;
  display: flex; }
  .admin_visible_list:before {
    content: "options:"; }
  .admin_visible_list li {
    border: grey 1px solid;
    display: -webkit-box;
    display: flex;
    margin: auto; }
