<section class="section benefits">

    <div class="benefits__title">
        <h3>{{ aboutUsBenefits.title }}</h3>
    </div>

    <div class="benefits__content">
        {% for benefit in aboutUsBenefits.descriptionFragments %}
            <div class="benefit">
                <div class="benefit__image">
                    {{ imgTag(benefit.image) | raw }}
                </div>
                <div class="benefit__title">
                    <h4>{{ benefit.name }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>

</section>