<section class="section about_us__intro">
    <div class="section__title">
        <div class="section__title__highlight">
            <h2 data-grape_id="about_us_intro_title" data-grape_format="txt">
                {{ page.ElementContent('about_us_intro_title',"Reispezialist kuba-reisen.de") | raw }}
            </h2>
        </div>
    </div>

    <div class="intro__content" data-grape_id="about_us_intro_text">
        {{ page.ElementContent('about_us_intro_text',"kuba-reisen.de gehört dem Reisefachgeschäft travel-to-nature GmbH. Seit 20 Jahren organisieren wir Reisen in Kuba sowie andere Länder Mittel- und Südamerikas. kuba-reisen.de richtet sich an Reisende, die Kuba von seiner authentischen Seite entdecken möchten.") | raw }}
    </div>
</section>