<section class="section about_us__intro">

    <div class="section__title ">
        <div class="section__title__highlight section__title__highlight--orange">
            <h2>{{ page.titleDescription }}</h2>
        </div>
    </div>

    <div class="about_us__intro__content">
        {{ page.description | raw }}
    </div>

</section>