<section class="section links">
    <div class="links__title">
        <h2 data-grape_id="links_title" data-grape_format="txt">
            {{ page.ElementContent('links_title',"Unsere Kuba Angebote auf einen Blick") | raw }}
        </h2>
    </div>
    <div class="links__content">
        <ul>
            {% for filterTag in filterTags %}
                <li>
                    <a href="{{ path('activitiesFilter', {'filters':filterTag.title | url_encode }) }}#activities">
                        {{ filterTag.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>