<section class="section philosophy">

    <div class="philosophy__title">
        <h3>{{ aboutUsPhilosophy.title }}</h3>
    </div>

    <div class="philosophy__content">
        <div class="philosophy__content__image">
            {{ imgTag(aboutUsPhilosophy.image) | raw }}
        </div>
        <div class="philosophy__content__description">
            <blockquote>
                {{ aboutUsPhilosophy.description | raw }}
            </blockquote>
        </div>

    </div>

</section>