<section class="section philosophy_benefits">
    <div class="philosophy_benefits__philosophy">
        <div class="philosophy_benefits__philosophy__title">
            <h2 data-grape_id="philosophy_benefits_philosophy_title" data-grape_format="txt">
                {{ page.ElementContent('philosophy_benefits_philosophy_title',"Unsere Reise-Philosphie") | raw }}
            </h2>
        </div>
        <div class="philosophy_benefits__philosophy__content" data-grape_id="philosophy_benefits_philosophy_content">
            <p>
                <blockquote>
                Wir möchten Sie inspirieren, überraschen und tief in das
                kubanische Leben eintauchen lassen. Unsere Stärke ist das
                Organisieren massgeschneiderter Reisen. Denn wir kennen
                Kuba wie unsere eigene Westentasche. Unser Ziel: Wir möchten
                Ihre Vorstellungen und Erwartungen an Ihre Kuba Reise übertreffen! Dafür setzen wir uns tagtäglich ein.
                </blockquote>

            </p>
        </div>
    </div>
    <div class="philosophy_benefits__benefits">
        <div class="philosophy_benefits__benefits__title">
            <h2 data-grape_id="philosophy_benefits_benefits_title" data-grape_format="txt">
                {{ page.ElementContent('philosophy_benefits_benefits_title',"Kunden-Vorteile auf einen Blick") | raw }}
            </h2>
        </div>

        <div class="philosophy_benefits__benefits__content" data-grape_id="philosophy_benefits_benefits_content">
            <ul>
                <li>Angebote für jedes Reise-Bedürfnis</li>
                <li>Massgeschneiderte Reisen</li>
                <li>Beratung durch Kuba-Spezialisten</li>
                <li>Umfangreiche Vorfeldbetreuung</li>
                <li>Team in Deutschland und in Havanna</li>
                <li>Einheimische, deutschsprachige Reiseleiter</li>
            </ul>
        </div>
    </div>
</section>