<section class="section feature_lists">
    {% for fragment in destination.descriptionFragment %}
        <div class="feature {% if loop.index is even %} feature--inverse {% endif %}">
            <div class="feature__text">
                <div class="feature__text__title">
                    <h2>
                        {{ fragment.name }}
                    </h2>
                </div>

                <div>
                    {{ fragment.content | raw }}
                </div>
            </div>

            <div class="feature__image">
                {{ imgTagContent(
                    fragment.image.staticImagePath,
                    null,
                    fragment.image.description,
                    '(min-width:1000px) 50vw, 100vw',
                    null) | raw }}
            </div>
        </div>
    {% endfor %}
</section>