<section class="section introduction">
    <div class="introduction__content">
        <p data-grapeid="introduction_t1">{{ page.ElementContent('introduction_t1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores at aut consectetur dolore eaque incidunt, iusto labore laudantium magnam modi quas quasi qui reprehenderit repudiandae sit tempora ut velit!") | raw }}</p>
    </div>
</section>