<<<<<<< HEAD
<section class="section introduction">
    <div class="introduction__content">
        <p data-grapeid="introduction_t1">{{ page.ElementContent('introduction_t1',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores at aut consectetur dolore eaque incidunt, iusto labore laudantium magnam modi quas quasi qui reprehenderit repudiandae sit tempora ut velit!") | raw }}</p>
    </div>
=======
<section class="section introduction">
    <div class="introduction__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores at aut consectetur dolore eaque incidunt, iusto labore laudantium magnam modi quas quasi qui reprehenderit repudiandae sit tempora ut velit!</p>
    </div>
>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
</section>