.feature{
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0;

    &:first-child{
      margin-top: auto;
    }

    &:last-child{
        margin-bottom: 0;
    }

    &__text{
        order: 2;
        width: 100%;
        padding: 1em;


        @include atLarge{
            order: 1;
            width: 33%;
            padding: 1em 1em;
            overflow-y: auto;
            max-height: 80vh;
        }

        &__title{
            width: 100%;

            & h2{
                font-size: 2em;
            }
        }
    }

    &__image{
        order: 1;
        width: 100%;
        position: relative;

        @include atLarge{
            order: 2;
            width: 60%;
        }

        & img{
            //position: sticky;
            //top: 0;
            max-height: 80vh;

            @include atLarge{
                //min-height: 100vh;
                min-height: auto;
            }
        }
    }


    &--inverse {

        & .feature__text {
            order: 2;
        }

        & .feature__image {
            order: 1;
        }
    }
}