.feature{
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    &__text{
        order: 1;
        width: 100%;
        padding: 1em;

        @include atLarge{
            width: 50%;
            padding: 1em 5em;
        }

        &__title{
            width: 100%;

            & h2{
                font-size: 2em;
            }
        }
    }

    &__image{
        order: 2;
        width: 100%;
        position: relative;

        @include atLarge{
            width: 50%;
        }

        & img{
            position: sticky;
            top: 0;
            max-height: 80vh;

            @include atLarge{
                min-height: 100vh;
            }
        }
    }


    &--inverse {

        & .feature__text {
            @mixin atLarge {
                order: 2;;
            }
        }

        & .feature__image {
            @mixin atLarge {
                order: 1;
            }
        }
    }
}