<<<<<<< HEAD
.introduction{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2em 0;

    &__content{
        width: 50%;
        text-align: center;
    }
=======
.introduction{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2em 0;

    &__content{
        width: 50%;
        text-align: center;
    }
>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
}