<div class="form__item">
        <div class="form__item__label" data-grape_id="form__item__label_flyTicket">
            {{ form_label(form.flyTicket) }}
        </div>
        <div class="form__item__input form__item__input--center">
            {{ form_widget(form.flyTicket) }}
        </div>
    </div>


<div class="form__item">
    <div class="form__item__label">
        {{ form_label(form.flyTicketOnBudget) }}
    </div>
    <div class="form__item__input form__item__input--center">
        {{ form_widget(form.flyTicketOnBudget) }}
    </div>
</div>