{% if from_travel %}
    <aside class="from_travel_overlay">

        <div class="from_travel">
            <div class="from_travel__title">
                <h2>
                     {% trans %}contact.modal.fromTravel.title{% endtrans %}
                </h2>
            </div>

            <div class="from_travel__content">
                <p>
                    {% trans %}contact.modal.fromTravel.text.primary{% endtrans %}
                </p>
                <p>
                    {% trans %}contact.modal.fromTravel.text.secondary{% endtrans %}
                </p>


            </div>

            <div class="from_travel__action">
                <button class="btn">{% trans %}OK{% endtrans %}</button>
            </div>


        </div>

    </aside>
{% endif %}


