{% if from_travel %}
    <aside class="from_travel_overlay">

        <div class="from_travel">
            <div class="from_travel__title">
                <h2>
                    Sie haben eine individuelle Reise ausgewählt
                </h2>
            </div>

            <div class="from_travel__content">
                <p>
                    Gerne stellen wir Ihnen ein massgeschneidertes
                    Produkt zusammen. Geben Sie uns ein paar
                    weitere Informationen zu Ihren Reisevorstellungen
                    und schon können wir mit der Planung Ihrer
                    Individualreise beginnen.
                </p>
            </div>

            <div class="from_travel__action">
                <button class="btn">OK</button>
            </div>


        </div>

    </aside>
{% endif %}


