{% if from_travel %}
    <aside class="from_travel_overlay">

        <div class="from_travel">
            <div class="from_travel__title">
                <h2>
                    Sie haben eine individuelle Reise ausgewählt
                </h2>
            </div>

            <div class="from_travel__content">
                <p>
                    Wenn Sie individuell reisen, ist es unserer Meinung nach das Beste für Sie, ein maßgeschneidertes Produkt herzustellen, bei dem Sie es in vollen Zügen genießen können.
                    Deshalb müssen Sie uns ein wenig über sich erzählen, um Ihnen unser bestes Angebot zu unterbreiten.
                </p>
            </div>

            <div class="from_travel__action">
                <button class="btn">Verstanden</button>
            </div>


        </div>

    </aside>
{% endif %}


