.content_index{

    &__list{
        list-style-type: decimal;
      & li{
          & a{
              color: $grey;

              &:hover{
                color: $grey;
              }
          }
      }
    }

}