.content_index{
    width: 75%;
    margin: 2em auto;
    position: relative;

    &__list{
        list-style-type: decimal;
        &__unordered{
          list-style: none;
        }
      & li{
          margin: .25em auto;
          & a{
              color: $grey;

              &:hover{
                color: $grey;
              }
          }
      }
    }

}