<<<<<<< HEAD
.intro{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    &__content{
        width: 70%;
    }
=======
.intro{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    &__content{
        width: 70%;
    }
>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
}