.main{
    background:  linear-gradient(45deg, $light-blue, $dark-blue);

    &__page{
        top: -3em;
        position: relative;
        background-color: white;
        width: 95%;
        margin: 0 auto;
        padding: 2em 15%;
        box-shadow: 2px 2px 10px $grey;
    }
}