.questions{
    width: 75%;
    margin: auto;
    position: relative;

    &__topic{
        margin: 6em auto;

        &__title{
            &::after{
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                background: linear-gradient(to right, $light-blue 10%, $dark-blue 20%, transparent);
            }
        }

        &:first-child{
            margin: 0;
        }
    }

}

.question{
    position: relative;

     &__title{
        cursor: pointer;
     }

     &__answer{
         opacity: 0;
         transform: translateY(-50%);
         transition: all .3s ease-in-out;
         max-height: 0;
         overflow: hidden;

         &--active{
             opacity: 1;
             transform: translateY(0);

         }
     }
 }