<!DOCTYPE html>
<html>
    <head>
        <title>
                Kuba-reisen kontaktieren - {{ contact.requestId }}
        </title>
    </head>
    <body>
        <h1>Hello {{ contact.clientName }}</h1>
        <p>You have sended a request for contact. We'll contact you very soon.</p>
        <p>Thank you.</p>
    </body>
</html>