{% extends 'frontend/base.html.twig' %}

{% block title %}Landesinformationen{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/travel_info.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <main class="main">

        {{ include ('frontend/components/global/_hero.html.twig') }}
        {{ include ('frontend/components/travel-info/_cards.html.twig') }}

    </main>
{% endblock %}


{% block javascripts %}

{% endblock %}