<html lang="en">
<head>
    <title>{% block title %}Welcome to Kuba-reisen!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription %}Kuba-reisen: get your next travel to Cuba{% endblock %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans" rel="stylesheet">
    <!-- Icons -->
    <link rel="shortcut icon" type="image/ico" href="{{ asset('dist/favicon.ico') }}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}" type="text/css">
    {% block stylesheets %}
        {#% if  is_granted('ROLE_ADMIN') %}

        {% else %}
        <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}" type="text/css">
        {% endif %#}
    {% endblock %}


</head>
    <body>
       {% block body %}{% endblock %}
       {% if is_granted('ROLE_ADMIN') %}

        {% block javascripts %}

        {% endblock %}


    {% endif %}

    </body>
</html>
