<section class="section content_index">
    <div class="section__title">
        <div class="section__title__highlight section__title__highlight--no-decorator">
            <h2>Content</h2>
        </div>
    </div>

    <ul>
        <li><a href="#">Random item</a></li>
        <li><a href="#">Random item</a></li>
        <li><a href="#">Random item</a></li>
        <li><a href="#">Random item</a></li>
        <li><a href="#">Random item</a></li>
    </ul>

</section>