<section class="section content_index">

{#    <ul class="content_index__list">#}
{#        <li><a href="#section_question__1" data-grape_id="faq_index_t1" data-grape_format="txt">{{ page.ElementContent('faq_index_t1',"Vor der Reise – Reisebuchung und Konditionen") | raw }}</a></li>#}
{#        <li><a href="#section_question__2" data-grape_id="faq_index_t2" data-grape_format="txt">{{ page.ElementContent('faq_index_t2',"Vor der Reise - Reisevorbereitung") | raw }}</a></li>#}
{#        <li><a href="#section_question__3" data-grape_id="faq_index_t3" data-grape_format="txt">{{ page.ElementContent('faq_index_t3',"Während der Reise") | raw }}</a></li>#}
{#        <li><a href="#section_question__4" data-grape_id="faq_index_t4" data-grape_format="txt">{{ page.ElementContent('faq_index_t4',"Nach der Reise") | raw }}</a></li>#}
{#    </ul>#}

</section>
