<section class="section intro">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2 data-grape_id="landesinfos_intro_title" data-grape_format="txt">{{ page.ElementContent('faq_intro_title',"Häufig gestellte Fragen zu Kuba") | raw }}</h2>
        </div>
    </div>

    <div class="intro__content" data-grape_id="faq_intro_text">
        {{ page.ElementContent('faq_intro_text',"intro text") | raw }}
    </div>
</section>