<section class="section intro">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2 data-grape_id="faq_intro_title" data-grape_format="txt">{{ page.ElementContent('faq_intro_title',"Häufig gestellte Fragen zu Kuba") | raw }}</h2>
        </div>
    </div>

    <div class="intro__content">
        <p data-grape_id="faq_intro_text" data-grape_format="txt">{{ page.ElementContent('faq_intro_text',"Während der Reiseplanung treten oft Fragen auf. Wir haben für Sie die häufigsten Fragen inklusive Antworten rund um einen Kuba-Urlaub zusammengestellt. <br>
                                                                                    Weitere Fragen beantworten wir Ihnen natürlich sehr gerne persönlich per Telefon oder E-Mail. Haben Sie eine Reise bei uns gebucht, erhalten Sie auch mit den Reisunterlagen die wichtigsten Informationen zur Vorbereitung Ihrer Reise.") | raw }}</p>
    </div>
</section>