<<<<<<< HEAD
<section class="section intro">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2>Some random text intro</h2>
        </div>
    </div>

    <div class="intro__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores consectetur culpa incidunt, ipsam mollitia perspiciatis quae. A ad earum eius quam quos? Fugiat incidunt odit praesentium quae quis sequi.</p>
    </div>
=======
<section class="section intro">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2>Some random text intro</h2>
        </div>
    </div>

    <div class="intro__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores consectetur culpa incidunt, ipsam mollitia perspiciatis quae. A ad earum eius quam quos? Fugiat incidunt odit praesentium quae quis sequi.</p>
    </div>
>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
</section>