<section class="section intro">

    <div class="section__title">
        <div class="section__title__highlight">
            <h2 data-grapeid="faq_intro_title">{{ page.ElementContent('faq_intro_title',"Some random text intro") | raw }}</h2>
        </div>
    </div>

    <div class="intro__content">
        <p data-grapeid="faq_intro_text">{{ page.ElementContent('faq_intro_text',"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores consectetur culpa incidunt, ipsam mollitia perspiciatis quae. A ad earum eius quam quos? Fugiat incidunt odit praesentium quae quis sequi.") | raw }}</p>
    </div>
</section>