<form method="post" action="{{ path('backend_dynamic_page_delete', {'id': dynamic_page.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline-block;margin: 0;

vertical-align: bottom;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dynamic_page.id) }}">
    <button class="button button-secondary button-shadow button-block" style="display: inline-block;margin: 0;

vertical-align: bottom;">Delete</button>
</form>
