{% extends 'base.html.twig' %}

{% block title %}New DynamicPage{% endblock %}

{% block body %}
    <h3>Create new DynamicPage</h3>

    {{ include('backend/dynamic_page/_form.html.twig') }}

    
{% endblock %}
