.activities__selectors {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around; }
  .activities__selectors__filters {
    width: 45%; }
  .activities__selectors__filters h3 {
      text-align: center; }
  .activities__selectors__filters ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
  .activities__selectors__filters ul li {
        display: inline-block;
        width: 30%;
        background: linear-gradient(45deg, rgba(53, 207, 212, 0.95), rgba(20, 161, 230, 0.95));
        border-radius: 5px;
        border: 2px solid white;
        padding: .2em .4em;
        text-align: center;
        margin: .5em 0;
        position: relative; }
  .activities__selectors__filters ul li a {
          color: white; }
  .activities__selectors__filters ul li.selected {
          border: 2px solid rgba(102, 102, 102, 0.7); }
  .activities__selectors__filters ul li.selected::after {
            content: 'x';
            position: absolute;
            right: .5em;
            width: 1em;
            height: 1em;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 700; }
  .activities__selectors__search {
    width: 45%; }
  .activities__selectors__search h3 {
      text-align: center; }
  .activities__selectors__search .form__item__input {
      width: 80%; }
  .activities__list {
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .activities__list__title {
    width: 100%;
    text-align: center; }
