.description {
  width: 75%;
  margin: auto;
  position: relative; }
  .description__text {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .description__text__content {
      width: 100%; }
  .description__text__times {
      display: flex;
      width: 100%;
      margin: auto;
      position: relative;
      justify-content: center;
      text-align: center; }
  .description__text__times__init {
        width: 20%; }
  .description__text__times__duration {
        width: 20%; }
  .description__text__times__finish {
        width: 20%; }
  .description__text__times__comments {
        width: 40%; }
  .description__text__included-details {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
  .description__text__included-details__included, .description__text__included-details__not-included {
        width: 47%; }
  body {
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #858585;
  --color-header: #858585;
  --color-nav-bg: #fff;
  --color-nav-hover: #858585;
  --color-cart-bg: #000;
  --color-cart: #fff;
  --color-close-bg: #6a6a6a;
  --color-close: #fff;
  --color-details-hover: #858585; }
  /* Icons */
  .icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }
  .slideshow {
  position: relative;
  width: 100%;
  margin-top: 1rem; }
  .slideshow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s; }
  .slideshow--details::after {
  opacity: 1; }
  .slide {
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  position: absolute;
  overflow-x: hidden;
  pointer-events: none;
  opacity: 0; }
  .slide--current {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
    position: relative; }
  .slide__wrap {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative; }
  .slide__img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    pointer-events: none; }
  .slide__title-wrap {
    position: absolute;
    width: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 4em;
    color: white; }
  .slide__title {
    margin: 0;
    font-size: 1.5rem;
    line-height: 0.9;
    white-space: pre; }
  .slide__title span {
      display: inline-block; }
  .slide__subtitle {
    font-size: 1.15rem;
    font-weight: normal; }
  .boxnav {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  width: 100%;
  background-color: white; }
  .boxnav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 0;
    height: 4rem;
    flex: 1; }
  .boxnav__item--prev:hover,
.boxnav__item--next:hover {
  color: var(--color-nav-hover); }
  .boxnav__item:focus {
  outline: none; }
  .boxnav__label {
  padding: 0 0.5rem;
  font-size: 1.15rem;
  position: relative; }
  .boxnav__label--total::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 2px;
  height: 1.45rem;
  background: #000;
  -webkit-transform: rotate(22.5deg);
          transform: rotate(22.5deg); }
  .icon--caret-rot {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
  .category {
  font-weight: normal; }
  .action--addtocart {
  background: var(--color-cart-bg);
  color: var(--color-cart); }
  .action--close {
  background: var(--color-close-bg);
  color: var(--color-close);
  text-transform: lowercase; }
  @media screen and (min-width: 53em) {
  .slideshow {
    overflow: hidden;
    margin: 0;
    height: 80%; }
  .slide {
    height: 100%; }
    .slide__title {
      font-size: 2em; }
      .slide__title__title-wrap {
        padding: calc(6rem + 10vh) 0 0 4rem;
        text-align: left; }
    .slide__wrap {
      height: 100%;
      position: absolute; }
    .slide__img {
      background-position: 50% 0; }
  .boxnav {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: auto; }
  .boxnav__item {
    width: 5em;
    height: 4em;
    flex: none; } }
  .other_activities {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .float_button {
  position: absolute;
  height: 100%; }
  .float_button__button {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 4em;
    margin: 4em 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: .5em;
    background: linear-gradient(45deg, #62ab03, #004d00);
    z-index: 1000;
    color: white;
    -webkit-transform: scale(1) translateX(-200%);
            transform: scale(1) translateX(-200%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  .float_button__button:hover {
      -webkit-transform: scale(1.4) translateX(-175%);
              transform: scale(1.4) translateX(-175%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%; }
