@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans:400,700&display=swap");
@import "https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css";
body {
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #858585;
  --color-header: #858585;
  --color-nav-bg: #fff;
  --color-nav-hover: #858585;
  --color-cart-bg: #000;
  --color-cart: #fff;
  --color-close-bg: #6a6a6a;
  --color-close: #fff;
  --color-details-hover: #858585; }
/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }
.slideshow {
  position: relative;
  width: 100%;
  margin-top: 1rem; }
.slideshow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s; }
.slideshow--details::after {
  opacity: 1; }
.slide {
  width: 100%;
  height: 50vh;
  top: 0;
  left: 0;
  position: absolute;
  overflow-x: hidden;
  pointer-events: none;
  opacity: 0; }
.slide--current {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
    position: relative; }
.slide__wrap {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative; }
.slide__img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: white;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    pointer-events: none; }
.slide__img img {
      min-height: 100%;
      min-width: 100%;
      width: auto; }
.slide__title-wrap {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 4em;
    color: white; }
.slide__title {
    margin: 0;
    font-size: 1.5rem;
    line-height: 0.9;
    white-space: pre; }
.slide__title span {
      display: inline-block; }
.boxnav {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 2;
  width: 100%;
  background-color: white; }
@media (min-width: 1200px) {
    .boxnav {
      left: 75%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: auto; } }
.boxnav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 0;
    height: 4rem;
    flex: 1; }
.boxnav__item--prev:hover,
.boxnav__item--next:hover {
  color: var(--color-nav-hover); }
.boxnav__item:focus {
  outline: none; }
.boxnav__label {
  padding: 0 0.5rem;
  font-size: 1.15rem;
  position: relative; }
.boxnav__label--total::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  width: 2px;
  height: 1.45rem;
  background: #666;
  -webkit-transform: rotate(22.5deg);
          transform: rotate(22.5deg); }
.icon--caret-rot {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
.category {
  font-weight: normal; }
.action--addtocart {
  background: var(--color-cart-bg);
  color: var(--color-cart); }
.action--close {
  background: var(--color-close-bg);
  color: var(--color-close);
  text-transform: lowercase; }
@media screen and (min-width: 53em) {
  .slideshow {
    overflow: hidden;
    margin: 0;
    height: 85vh; }
  .slide {
    height: 100%; }
    .slide__title {
      font-size: 2em; }
      .slide__title__title-wrap {
        padding: calc(6rem + 10vh) 0 0 4rem;
        text-align: left; }
    .slide__wrap {
      height: 100%;
      position: absolute; }
    .slide__img {
      background-position: 50% 0; }
  .boxnav__item {
    width: 5em;
    height: 4em;
    flex: none; } }
@-webkit-keyframes Zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes Zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.float_button__container {
  position: relative; }
.float_button {
  position: absolute;
  height: 100%;
  left: 4em;
  top: 5em; }
.float_button__button {
    position: -webkit-sticky;
    position: sticky;
    top: 5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: .5em;
    background: linear-gradient(45deg, #62ab03, #004d00);
    z-index: 2;
    color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-animation: Zoom 2s ease-in-out 20;
            animation: Zoom 2s ease-in-out 20;
    -webkit-animation-delay: 10s;
            animation-delay: 10s; }
.float_button__button:hover {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
.float_button__button--disable {
      background: linear-gradient(45deg, rgba(102, 102, 102, 0.6), rgba(102, 102, 102, 0.9)); }
.float_button__button--disable:hover {
        -webkit-transform: scale(1);
                transform: scale(1); }
.float_button__button a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
.description-text {
  width: 75%;
  margin: auto;
  position: relative; }
.description-text__content {
    width: 100%; }
.description-map {
  width: 80%;
  margin: auto;
  position: relative; }
.description-map__content {
    position: relative;
    overflow: hidden; }
.description-map__content #map {
      height: 75vh; }
.description-itinerary {
  width: 75%;
  margin: auto;
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
.description-itinerary__content h3 {
    border-bottom: 1px solid #f9c90d; }
.description-itinerary__content span[data-map] {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0; }
.description-itinerary__content ul {
    width: 100%; }
.description-timetable {
  width: 75%;
  margin: auto;
  position: relative; }
.description-timetable__content {
    width: 100%; }
.description-timetable__content table {
      width: 100%;
      border-radius: 2px; }
.description-timetable__content table thead, .description-timetable__content table tr:first-child {
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(45deg, #62ab03, #004d00);
        color: white; }
.description-timetable__content table thead + tbody tr:first-child {
        font-weight: normal;
        text-transform: none;
        background: none;
        color: #666; }
.description-include__included-details {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
.description-include__included-details__included, .description-include__included-details__not-included {
    width: 47%; }
.other_activities {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
