.activities__selectors {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .activities__selectors__filters {
    width: 60%; }
  .activities__selectors__filters h3 {
      text-align: center; }
  .activities__selectors__filters ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
  .activities__selectors__filters ul li {
        display: inline-block;
        min-width: 16.666%;
        background: linear-gradient(45deg, rgba(53, 207, 212, 0.95), rgba(20, 161, 230, 0.95));
        border-radius: 5px;
        border: 2px solid white;
        padding: .2em .4em;
        text-align: center;
        margin: .5em 0;
        position: relative;
        transition: all .3s ease-in-out;
        cursor: pointer;
        color: white; }
  .activities__selectors__filters ul li.selected {
          border: 2px solid rgba(102, 102, 102, 0.7); }
  .activities__selectors__filters ul li.selected::after {
            content: 'x';
            position: absolute;
            right: -.75em;
            top: -.75em;
            background: linear-gradient(45deg, rgba(53, 207, 212, 0.95), rgba(20, 161, 230, 0.95));
            color: white;
            border-radius: 50%;
            border: 1px white solid;
            width: 1.25em;
            height: 1.25em;
            font-weight: 700;
            line-height: 1em; }
  .activities__selectors__search {
    width: 40%; }
  .activities__selectors__search h3 {
      text-align: center; }
  .activities__selectors__search .form__item__input {
      width: 80%; }
  .activities__list {
  width: 90%;
  margin: auto;
  margin-bottom: 2em; }
  .activities__list__title {
    width: 100%;
    text-align: center; }
  .activities__list__item-prototype {
    display: none; }
  .activities__list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; }
  .activities__list__container div.activity {
      opacity: 1;
      transition: opacity .3s ease-in-out; }
  .activities__list__container--loading div.activity {
      opacity: 0; }
  .activities__list__container--loading div.loading_element {
      opacity: 1; }
  @-webkit-keyframes spinning {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }
  @keyframes spinning {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }
  .activities__list__container .loading_element {
      height: 3em;
      width: 3em;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 50%;
      position: absolute;
      background: radial-gradient(at 0, #35cfd4 20%, #14a1e6);
      border: 1px white solid;
      -webkit-animation: spinning 3.5s ease-in-out infinite;
              animation: spinning 3.5s ease-in-out infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out; }
  .activities__list__more {
    width: 100%;
    display: flex;
    justify-content: center; }
