@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans:400,700&display=swap");
@import "https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css";
.bucket-list__intro {
  position: relative;
  width: 100%; }
.bucket-list__intro__content {
    width: 95%;
    margin: auto; }
@media (min-width: 1200px) {
      .bucket-list__intro__content {
        width: 50%; } }
.bucket-list__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }
.bucket-list__items__map {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 1.5em 0; }
.bucket-list__items__map:after {
      content: '';
      position: absolute;
      width: 105%;
      -webkit-transform: translate(-2.5%, -50%);
              transform: translate(-2.5%, -50%);
      height: 3em;
      background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.75));
      -webkit-filter: blur(8px);
              filter: blur(8px);
      z-index: -1; }
@media (min-width: 1200px) {
      .bucket-list__items__map {
        width: 50%;
        top: 5vh; } }
.bucket-list__items__map #map {
      margin: auto;
      min-height: 40vh; }
@media (min-width: 1200px) {
        .bucket-list__items__map #map {
          min-height: 90vh; } }
.bucket-list__items__features {
    width: 100%;
    margin-left: 1em;
    padding-top: 3em; }
@media (min-width: 1200px) {
      .bucket-list__items__features {
        width: 40%; } }
.bucket-list__items__features h3 {
      position: relative;
      transition: -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
      transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
.bucket-list__items__features h3:after {
        content: '';
        position: absolute;
        background: linear-gradient(45deg, rgba(249, 110, 16, 0.25), rgba(249, 201, 13, 0.25));
        height: 2px;
        border-radius: 2px;
        width: 100%;
        bottom: -.25em;
        left: 0; }
.bucket-list__items__features h3.active {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
.bucket-list__items__features h3.active:after {
          background: linear-gradient(45deg, #f96e10, #f9c90d); }
.bucket-list__items__features span[data-map] {
      position: absolute;
      visibility: hidden;
      height: 0;
      width: 0; }
.bucket-list__items__features p {
      width: 100%; }
.bucket-list__items__features.active {
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }
.bucket-list__items__features:last-child {
      border-bottom: none;
      margin-bottom: 200px; }
