@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans:400,700&display=swap");
.introduction {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2em auto; }
@media (min-width: 1200px) {
    .introduction {
      width: 75%; } }
.feature {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2em 0; }
.feature:first-child {
    margin-top: auto; }
.feature:last-child {
    margin-bottom: 0; }
.feature__text {
    order: 2;
    width: 100%;
    padding: 1em; }
@media (min-width: 1200px) {
      .feature__text {
        order: 1;
        width: 33%;
        padding: 1em 1em;
        overflow-y: auto;
        max-height: 80vh; } }
.feature__text__title {
      width: 100%; }
.feature__text__title h2 {
        font-size: 2em; }
.feature__image {
    order: 1;
    width: 100%;
    position: relative; }
@media (min-width: 1200px) {
      .feature__image {
        order: 2;
        width: 60%; } }
.feature__image img {
      max-height: 80vh;
      min-height: 50vh; }
@media (min-width: 1200px) {
        .feature__image img {
          min-height: auto; } }
.feature--inverse .feature__text {
    order: 2; }
.feature--inverse .feature__image {
    order: 1; }
.gallery {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden; }
@media (min-width: 1200px) {
    .gallery {
      height: 85vh; } }
.gallery__item {
    position: absolute;
    top: 0;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    height: 100%;
    width: 100%; }
.gallery__item:first-child {
      position: relative; }
.gallery__item__image {
      width: 100%;
      height: 100%; }
.gallery__item__title {
      position: absolute;
      bottom: 0;
      margin: 1em;
      text-align: center; }
@media (min-width: 1200px) {
        .gallery__item__title {
          margin: 1.25em; } }
.gallery__item__title h2 {
        color: white;
        font-size: 2em; }
.gallery__arrow {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 50%;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/static/img/svg/arrow.svg"); }
.gallery__arrow--prev {
      left: .5em;
      right: auto;
      -webkit-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
.gallery__arrow--next {
      right: .5em;
      left: auto;
      -webkit-transform: translateY(-50%) rotate(0deg);
              transform: translateY(-50%) rotate(0deg); }
