<div class="activity">
    <div class="activity__image">
        <img src="" alt="">
    </div>
    <div class="activity__content">
        <div class="activity__content__price">
            <span>45 €</span>
        </div>
        <div class="activity__content__actions">
            <div class="activity__content__actions__add" data-activity_id="">
                {% include('frontend/components/_icons/_heart.html.twig') with {inverse:'heart--inverse'} only %}
            </div>
        </div>
        <div class="activity__content__title">
            <a href="">
                <h4></h4>
            </a>
        </div>
        <div class="activity__content__description">
        </div>
    </div>
</div>