{#expect a activity variable#}
<div class="activity">
    <a href="{{ path('activity', {'id':activity.id, 'name':activity.machineName}) }}">
        <div class="activity__image">
            <img src="{{ activity.dynamicPage.elementAttr('activity_images_img1', 'src', asset('img/header_pic.jpg')) }}" alt="">
        </div>
        <div class="activity__content">
            <div class="activity__content__title">
                <h4>{{ activity.name }}</h4>
            </div>
            <div class="activity__content__description">
                {{ activity.description | raw }}
            </div>
        </div>
    </a>
</div>