{#expect a activity variable#}
<div class="activity">
    <a href="{{ path('activity', {'id':activity.id, 'name' : activity.machineName}) }}">
        <div class="activity__image">
            {{ imgTagContent(
                activity.hasImage ? activity.image.staticImagePath : 'static/img/hero/water/water.jpg',
                null,
                '',
                '(min-width:1000px) 33vw, 90vw',
                '') | raw }}
        </div>
        <div class="activity__content">
            <div class="activity__content__title">
                <h4>{{ activity.name }}</h4>
            </div>
        </div>
    </a>
</div>