<div class="cart_bar cart_bar--initial">

    <div class="cart_bar__title">
        <div class="cart_bar__title__icon">
{#            <svg class="icon icon-heart">#}
{#                <symbol id="heart2" x="0px" y="0px" viewBox="-25 0 560 560"  xml:space="preserve">#}
{#                    <path d="M510.51,167.399c0,14.742-2.09,29.286-6.273,43.629c-4.186,14.344-9.362,27.492-15.538,39.445#}
{#                        c-6.179,11.953-14.844,24.802-25.998,38.548c-11.158,13.746-21.816,25.801-31.978,36.158#}
{#                        c-10.161,10.359-23.208,22.512-39.146,36.457c-15.939,13.947-29.984,25.799-42.136,35.563#}
{#                        c-12.151,9.762-27.593,22.111-46.317,37.055c-18.726,14.943-34.265,27.393-46.617,37.354#}
{#                        c-13.547-12.352-31.676-27.689-54.387-46.02c-22.711-18.328-42.533-34.264-59.467-47.813#}
{#                        c-16.934-13.545-35.062-29.482-54.387-47.811c-19.325-18.328-35.162-35.461-47.514-51.398C28.4,262.631,18.34,244.9,10.57,225.377#}
{#                        C2.8,205.853-0.686,186.528,0.111,167.403c0-35.46,12.55-65.743,37.652-90.844s55.383-37.652,90.844-37.652#}
{#                        c13.148,0,26.597,3.781,40.343,11.352s25.302,15.936,34.665,25.1c9.363,9.164,18.627,19.722,27.791,31.676#}
{#                        s15.141,20.321,17.93,25.102c2.789,4.781,4.98,8.566,6.574,11.355l6.571-10.758c3.984-7.172,10.16-15.838,18.527-25.998#}
{#                        c8.367-10.16,17.631-20.42,27.791-30.779c10.16-10.359,22.113-19.125,35.859-26.297c13.747-7.172,27.194-10.758,40.343-10.758#}
{#                        c35.461,0,65.246,12.451,89.35,37.354C498.457,101.159,510.51,131.54,510.51,167.399z"></path>#}
{#                </symbol>#}
{#            </svg>#}

            <svg version="1.1" id="heart2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 51.997 51.997" style="enable-background:new 0 0 51.997 51.997;" xml:space="preserve" >
<g>
    <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
		c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
		c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
		C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25
		c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826
		c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514
		c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z"/>
    <path d="M15.999,7.904c-5.514,0-10,4.486-10,10c0,0.553,0.447,1,1,1s1-0.447,1-1c0-4.411,3.589-8,8-8c0.553,0,1-0.447,1-1
		S16.551,7.904,15.999,7.904z"/>
</g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
</svg>

        </div>
        <h4>Activity Bag</h4>
    </div>

    <div class="cart_bar__content">
        <div class="cart_bar__content__text">
            <p data-show="empty">You don't have any activity yet</p>
            <p data-show="no-empty">You have selected <span></span> activities</p>
        </div>
        <div class="cart_bar__content__button">
            <a data-show="no-empty" href="{{ path('contact') }}">View all</a>

            <a data-show="empty" href="{{ path('activities') }}">See activities</a>

            <a data-show="no-empty" href="{{ path('contact') }}">Go to contact</a>
        </div>
    </div>


</div>