<div id="" class="cart_bar__content__activities__item">
    <img src="" alt="">
    <h5></h5>

    <div class="cart_bar__content__activities__item__drop">
        {{ include('frontend/components/_icons/_trash.html.twig') }}
    </div>
</div>