<div class="cart_bar">

    <div class="cart_bar__icon">
        <svg class="icon icon--cart"><use xlink:href="#icon-cart"></use></svg>
    </div>
    <div class="cart_bar__text">
        <p>You have selected <span></span> activities</p>
    </div>
    <div class="cart_bar__button">
        <a href="{{ path('contact') }}" class="btn btn--small-circle">Go to contact page</a>
    </div>
</div>