<section class="section clients_opinions">

    <div class="section__title ">

        <div class="section__title__highlight section__title__highlight--green">
            <h2>{{ clientsOpinions.title }}</h2>
        </div>

        <div class="section__title__description" data-grape_id="contact_p1">
            {{ clientsOpinions.description | raw }}
        </div>

    </div>

    <div class="clients_opinions__content">
        {% for opinion in opinions %}

        {% endfor %}
    </div>



</section>