<section class="section clients_opinions">

    <div class="section__title ">

        <div class="section__title__highlight section__title__highlight--green section__title__highlight--padding-top">
            <h2>{{ clientsOpinions.title }}</h2>
        </div>

        <div class="section__title__description" data-grape_id="contact_p1">
            {{ clientsOpinions.description | raw }}
        </div>

    </div>
    <div class="clients_opinions__content">
        {% for opinion in opinions %}

            <div class="grid-auto clients-think_img no-lat-margins text-center float-center">
                <div class="grid-half float-center clients-think_img_quote">
{#                    <h2>"brathtaking"</h2>#}
                    <blockquote>{{ opinion.opinion }}
                        <cite>- {{ opinion.clientName }}</cite>
                    </blockquote>
                </div>

            </div>
        {% endfor %}
    </div>



</section>
