{% if app.request.cookies.has('allow-cookies') %}
    <!-- cookie dialog skipped -->
{% else %}
    <div class="cookie-overlay"></div>
    <aside class="cookie">
        <div class="cookie__img">
            {{ include('frontend/components/_icons/_cookie.html.twig') }}
        </div>
        <div class="cookie__message">
            <h1>Diese Webseite verwendet Cookies</h1>
            <p>Wir verwenden Cookies, um Inhalte zu personalisieren und die Zugriffe auf unsere Website zu analysieren. Weitere Informationen finden Sie in unserer
                <a href="#">Datenschutzerklärung</a>.</p>
        </div>
        <div class="cookie__btn">
            <button class="btn btn--green btn--small" autofocus="autofocus">Allow</button>
        </div>
    </aside>
{% endif %}