{% if app.request.cookies.has('allow-cookies') %}
    <!-- cookie dialog skiped -->
{% else %}
    <div class="cookie-overlay"></div>
    <aside class="cookie">
        <div class="cookie__img">
            {{ include('frontend/components/_icons/_cookie.html.twig') }}
        </div>
        <div class="cookie__message">
            <h1>That <s><small>annoying</small></s> permission about cookies :)</h1>
            <p>This website uses its own and third-party cookies to offer a better service and statistics on usage data. Accept them before continuing browsing to enjoy all their contents with full functionality. If you want more information or modify your settings, visit our Cookies Policy.</p>
        </div>
        <div class="cookie__btn">
            <button class="btn btn--green btn--small">Allow</button>
        </div>
    </aside>
{% endif %}