{% if app.request.cookies.has('allow-cookies') %}
    <!-- cookie dialog skipped -->
{% else %}
    <div class="cookie-overlay"></div>
    <aside class="cookie">
        <div class="cookie__img">
            {{ include('frontend/components/_icons/_cookie.html.twig') }}
        </div>
        <div class="cookie__message">
            <h1>Cookies &amp; Drittinhalte</h1>
            <p>Auf dieser Website werden Cookies und Drittinhalte verwendet.
                Im Folgenden können Sie Ihre Zustimmung geben oder widerrufen.
                Weitere Informationen finden Sie in unserer
                <a href="{{ path('pageLoad', {'name' : staticPagesNamesMap['protection_data_declaration'] | url_encode }) }}">Datenschutzerklärung</a>.</p>
        </div>
        <div class="cookie__btn">
            <button class="btn btn--green btn--small" autofocus="autofocus" role="button" aria-selected="true">OK</button>
        </div>
    </aside>
{% endif %}