{% if app.request.cookies.has('allow-cookies') or pager.currentPageMachineName == 'protection_data_declaration' %}
    <!-- cookie dialog skipped -->
{% else %}
    <div class="cookie-overlay"></div>
    <aside class="cookie">
        <div class="cookie__img">
            {{ include('frontend/components/_icons/_cookie.html.twig') }}
        </div>
        <div class="cookie__message">
            <h1>{% trans %}global.modal.cookie.title{% endtrans %}</h1>
            <p>
                {% trans %}global.modal.cookie.description{% endtrans %}
                <a href="{{ path('pageLoad', {'name' : pager.url('protection_data_declaration') }) }}">{% trans %}global.modal.cookie.protectionDataDeclaration{% endtrans %}</a>.</p>
        </div>
        <div class="cookie__btn">
            <button class="btn btn--green btn--small" autofocus="autofocus" role="button" aria-selected="true">OK</button>
        </div>
    </aside>
{% endif %}