<header class="header">
    <div class="header__logo">
        <a href="{{ path('frontend') }}">
            <img src="{{ asset('img/logo.png') }}">
        </a>
    </div>

    <div class="header__menu-icon">

        <div id="menu-icon-wrapper" class="menu-icon-wrapper float-right" style="visibility: hidden">
            <svg width="1000px" height="1000px">
                <path id="burger_pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                <path id="burger_pathB" d="M 300 500 L 700 500"></path>
                <path id="burger_pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
            </svg>
            <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
        </div><!-- menu-icon-wrapper -->

    </div>

    <nav class="header__nav navigation_menu soft-hidden">

        <div class="header__nav__lang">

            <a href="">
                EN
            </a>
            <span>\</span>
            <a href="">
                DE
            </a>
            <span>\</span>
            <a href="">
                ES
            </a>

        </div>

        <div class="header__nav__menu">

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">Kuba erkunden</a>
                </div>

                <ul class="header__nav__menu__column__list">
                    <li class="header__nav__menu__column__list__link">
                        <a href="#">Country info</a>
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Sleep & Eat
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Havanna
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Cayos & Beaches
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Tourist Destination Highlights
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Vergessene Orte
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Oriente
                    </li>
                </ul>
            </div>

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">Kuba Ausflüge</a>
                </div>

                <ul class="header__nav__menu__column__list">
                    <li class="header__nav__menu__column__list__link">
                        Our Bucket List
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Excursion Havanna
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Excursion en campo
                        <span>New!</span>
                    </li>
                </ul>
            </div>

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">Kuba bereisen</a>
                </div>

                <ul class="header__nav__menu__column__list">
                    <li class="header__nav__menu__column__list__link">
                        <a href="{{ path('contact') }}">
                            Individualreise
                        </a>
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Gruppenreise
                        <span>Trending!</span>
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Themenreise
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Familienreise
                    </li>
                    <li class="header__nav__menu__column__list__link">
                        Mietwagenreise
                    </li>
                </ul>
            </div>

            <div class="header__nav__menu__column">

                <div class="header__nav__menu__column__title">
                    <a href="#">Reiseinfos</a>
                </div>

                <ul class="header__nav__menu__column__list">
                        <li class="header__nav__menu__column__list__link">
                            Landesinformationen
                        </li>
                        <li class="header__nav__menu__column__list__link">
                            Gut zu wissen
                        </li>
                        <li class="header__nav__menu__column__list__link">
                            Reise FAQ für kuba
                        </li>
                    </ul>
            </div>
        </div>

    </nav>

</header>