<section class="section hero">

    <div class="hero__image">
        <img src="{{ asset('img/hero/campo.jpg') }}" alt="wonnderfull img">
    </div>

    <div class="hero__content">
        <h1 class="hero__content__text">hero__text</h1>
    </div>

</section>