<<<<<<< HEAD
<section class="section hero">

    <div class="hero__image">
        <img src="{{ asset('img/hero/havana.png') }}" alt="wonnderfull img">
    </div>

    <div class="hero__content">
        <h1 class="hero__content__text">{{ hero_title }}</h1>
    </div>

=======
<section class="section hero">

    <div class="hero__image">
        <img src="{{ asset('img/hero/havana.png') }}" alt="wonnderfull img">
    </div>

    <div class="hero__content">
        <h1 class="hero__content__text">{{ hero_title }}</h1>
    </div>

>>>>>>> 91cfd1d435910199c627ba0b79cad76f39139094
</section>