<section class="section hero">

    <div class="hero__image">
        {% set alt = content | striptags | slice(50) %}
        {{ imgTag(image, '100vw',  alt) | raw }}
    </div>

    {% if content %}
        <div class="hero__content">
            <h1 class="hero__content__text">
                {{ content | raw }}
            </h1>
        </div>
    {% endif %}

</section>