<section class="section hero">

    {% if hero__image is defined %}
        <div class="hero__image">
            {{ imgTagContent(
                hero__image,
                null,
                null,
                '100vw',
                null) | raw }}
        </div>
    {% endif %}

    <div class="hero__content">
        <h1 class="hero__content__text">
            {{ hero__content__text | raw }}
        </h1>
    </div>

</section>