<svg style="height: 0; display: none">

    <symbol id="icon-arrow" viewBox="0 0 24 24">
        <title>arrow</title>
        <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
    </symbol>

    <symbol id="icon-drop" viewBox="0 0 24 24">
        <title>drop</title>
        <path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
        <path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
    </symbol>


    <symbol id="icon-caret" viewBox="0 0 16 24">
        <title>caret</title>
        <path d="M15.45 2.8L12.65 0l-12 12 12 12 2.8-2.8-9.2-9.2z"/>
    </symbol>

    <symbol id="heart" viewBox="0 0 471.701 471.701">
        <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
		c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
		l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
		C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
		s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
		c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
		C444.801,187.101,434.001,213.101,414.401,232.701z"/>
    </symbol>

    <symbol id="heart2" x="0px" y="0px" viewBox="-25 0 560 560"  xml:space="preserve">
        <path d="M510.51,167.399c0,14.742-2.09,29.286-6.273,43.629c-4.186,14.344-9.362,27.492-15.538,39.445
			c-6.179,11.953-14.844,24.802-25.998,38.548c-11.158,13.746-21.816,25.801-31.978,36.158
			c-10.161,10.359-23.208,22.512-39.146,36.457c-15.939,13.947-29.984,25.799-42.136,35.563
			c-12.151,9.762-27.593,22.111-46.317,37.055c-18.726,14.943-34.265,27.393-46.617,37.354
			c-13.547-12.352-31.676-27.689-54.387-46.02c-22.711-18.328-42.533-34.264-59.467-47.813
			c-16.934-13.545-35.062-29.482-54.387-47.811c-19.325-18.328-35.162-35.461-47.514-51.398C28.4,262.631,18.34,244.9,10.57,225.377
			C2.8,205.853-0.686,186.528,0.111,167.403c0-35.46,12.55-65.743,37.652-90.844s55.383-37.652,90.844-37.652
			c13.148,0,26.597,3.781,40.343,11.352s25.302,15.936,34.665,25.1c9.363,9.164,18.627,19.722,27.791,31.676
			s15.141,20.321,17.93,25.102c2.789,4.781,4.98,8.566,6.574,11.355l6.571-10.758c3.984-7.172,10.16-15.838,18.527-25.998
			c8.367-10.16,17.631-20.42,27.791-30.779c10.16-10.359,22.113-19.125,35.859-26.297c13.747-7.172,27.194-10.758,40.343-10.758
			c35.461,0,65.246,12.451,89.35,37.354C498.457,101.159,510.51,131.54,510.51,167.399z"/>
    </symbol>
</svg>