<section id="activities" class="section activities">

    {% if is_granted('ROLE_EDITOR') %}
        <div id="grapes-editable" style="max-height: 10em; overflow: hidden">
    {% endif %}


        <div class="section__title ">
            <div class="section__title__highlight">
                <h2 data-grape_id="contact_t1">{{ page.ElementContent('contact_t1',"Popular activities") | raw }}</h2>
            </div>
            <div class="section__title__description">
                <p data-grape_id="contact_p1">{{ page.ElementContent('contact_p1',"We have some many that is hard to choose") | raw }}</p>
            </div>
        </div>

    {% if is_granted('ROLE_EDITOR') %}
        </div>
    {% endif %}

    <div class="activities__selectors">
        <div class="activities__selectors__filters">
            <h3>Select the filters</h3>
            
            <ul class="activities__selectors__filters__lists">
                {% for filterTag in filterTags %}
                    <li>{{ filterTag.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="activities__selectors__search">
            <h3>Type your search criteria</h3>
            
            <div class="form__item">
                <div class="form__item__label">
                    
                </div>
                <div class="form__item__input">
                    <input type="text" >
                </div>
            </div>
        </div>
    </div>

    <div class="activities__list">
        <div class="activities__list__title">
            <h3>We have found {{ activities | length }} activities</h3>
        </div>

        {% for activity in activities %}
            {% include 'frontend/components/global/_activity.html.twig'
                with {'activity':activity} only %}
            {% else %}
            <p>something</p>
        {% endfor %}

    </div>

</section>