<section class="section activities">

    <div class="section__title ">
        <div class="section__title__highlight">
            <h2 data-grapeid="contact_t1">{{ page.ElementContent('contact_t1',"Popular activities") | raw }}</h2>
        </div>
        <div class="section__title__description">
            <p data-grapeid="contact_p1">{{ page.ElementContent('contact_p1',"We have some many that is hard to choose") | raw }}</p>
        </div>
    </div>

    <div class="activities__selectors">
        <div class="activities__selectors__filters">
            <h3>Select the filters</h3>
            
            <ul class="activities__selectors__filters__lists">
                <li>
                    <a href="#">Nature</a>
                </li>

                <li>
                    <a href="#">Nature</a>
                </li>
            </ul>
        </div>
        <div class="activities__selectors__search">

        </div>
    </div>

</section>